

<div class="usr-add-fr">
  <h4>Access Level</h4>

<form role="form" method="post" action="">
<div class="form-group col-md-4">
    <label for="accessLevelinput">Admin</label>
    <?php if($postparams): ?>
    <input type="radio" class="form-control"  <?php if($postparams['accessLevel']=='admin'){echo "checked";} ?> name="accessLevel" placeholder="accessLevel" value="admin">
    <?php else: ?>
    <input type="radio" class="form-control"  checked name="accessLevel" placeholder="accessLevel" value="admin">
  <?php endif; ?>
  </div>

  <div class="form-group col-md-4">
    <label for="accessLevelinput">Staff</label>
    <input type="radio" class="form-control" <?php if($postparams && $postparams['accessLevel']=='staff') {echo "checked";} ?> id="accessLevel" name="accessLevel" placeholder="accessLevel" value="staff">
  </div>

<div class="for m-group col-md-4">
    <label for="accessLevelinput">faculty</label>
    <input type="radio" class="form-control" <?php if($postparams && $postparams['accessLevel']=='faculty'){echo "checked";} ?> id="accessLevel" name="accessLevel" placeholder="accessLevel" value="faculty" >
  </div>

<hr>
<div class="clearFixed"></div>

<div class="add-frm-h2">
    <p>Personal Details</p>
    <input type="text" class="ad-fc-nw" id="firstName" name="firstName" placeholder="First Name" required>

    <input type="text" class="ad-fc-nw" id="middleName" name="middleName" placeholder="Middle Name" required>

    <input type="text" class="ad-fc-nw" id="lastName" name="lastName" placeholder="Last Name" required>


    <input type="password" class="ad-fc-nw" id="password" name="password" placeholder="Password" required>

    <div id="faculty_link">
    <label for="passwordinput">Link account to Faculty for Evaluation Porpuses</label>
    <select class="form-control" name = "faculty">
      <option value="0"> --- select one -- </option>
    <?php foreach($faculties as $faculty): ?>
      <option value="<?=$faculty->id ?>"><?=$faculty->firstName  ?>  </option>


    <?php endforeach; ?>
  </select>
  </div>


</div>


</form>
</div>

<div class="form-group col-md-4">

<?php if($anyMessage): ?>

  <div class="alert alert-success">
      <p><?php echo $anyMessage ?></p>


</div>

<?php endif; ?>


<form role="form" method="post" action="">
  

  <div class="form-group">
    <label for="usernameinput">Username</label>
    <input type="text" class="form-control" value="<?php if($postparams){echo $postparams['username'];} ?>" id="username" name="username" placeholder="Input User">
  </div>

  <div class="form-group">
    <label for="usernameinput">Name</label>
    <input type="text" class="form-control" value="<?php if($postparams){echo $postparams['fname'];} ?>" id="fname" name="fname" placeholder="Input First Name">
  </div>

  <div class="form-group">
    <label for="usernameinput">Last Name</label>
    <input type="text" class="form-control" value="<?php if($postparams){echo $postparams['lname'];} ?>" id="lname" name="lname" placeholder="Input Last Name">
  </div>

  <div class="form-group">
    <label for="passwordinput">Password</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Input Password">
  </div>


  <div class="form-group" id="faculty_link">
    <label for="passwordinput">Link account to Faculty for Evaluation Porpuses</label>
    <select class="form-control" name = "faculty">
      <option value="0"> --- select one -- </option>
    <?php foreach($faculties as $faculty): ?>
      <option value="<?=$faculty->id ?>"><?=$faculty->firstName  ?>  </option>


    <?php endforeach; ?>
  </select>
  </div>




  <input type="submit" class="btn btn-default" value="Submit"></input>
</form>
</div>
<script type="text/javascript">

  $('form input:radio').click(function(){

      if(this.value == 'faculty'){
          $('#faculty_link').show();
      }else{
          $('#faculty_link').hide();
      }

  });

  $('#faculty_link').hide();
  <?php if($postparams && $postparams['accessLevel']=='faculty'): ?>
  $('#faculty_link').show();
  <?php endif; ?>
</script>
