

<div class="usr-add-fr">
  <h4>Access Level</h4>

<form role="form" method="post" action="">
<div class="ad-usr-l">
    <label for="accessLevelinput">Admin</label>
    <?php if($postparams): ?>
    <input type="radio" class="rd-usr"  <?php if($postparams['accessLevel']=='admin'){echo "checked";} ?> name="accessLevel" placeholder="accessLevel" value="admin">
    <?php else: ?>
    <input type="radio" class="rd-usr"  checked name="accessLevel" placeholder="accessLevel" value="admin">
  <?php endif; ?>
  </div>

  <div class="ad-usr-l">
    <label for="accessLevelinput">Academic Head</label>
    <?php if($postparams): ?>
    <input type="radio" class="rd-usr"  <?php if($postparams['accessLevel']=='academic'){echo "checked";} ?> name="accessLevel" placeholder="accessLevel" value="academic">
    <?php else: ?>
    <input type="radio" class="rd-usr"   name="accessLevel" placeholder="accessLevel" value="academic">
  <?php endif; ?>
  </div>


  <div class="ad-usr-l">
    <label for="accessLevelinput">Staff</label>
    <input type="radio" class="rd-usr" <?php if($postparams && $postparams['accessLevel']=='staff') {echo "checked";} ?> id="accessLevel" name="accessLevel" placeholder="accessLevel" value="staff">
  </div>

<div class="ad-usr-l">
    <label for="accessLevelinput">Faculty</label>
    <input type="radio" class="rd-usr" <?php if($postparams && $postparams['accessLevel']=='faculty'){echo "checked";} ?> id="accessLevel" name="accessLevel" placeholder="accessLevel" value="faculty" >
  </div>

<div class="clearFixed"></div>



    <p>Personal Details</p>


<div>

<?php if($anyMessage): ?>

      <p><?php echo $anyMessage ?></p>



<?php endif; ?>





</div>
<div class="add-frm-hl">
    <p>Personal Details</p>

<div class="pad-dd">
    <input type="text" class="ad-fc-nw" value="<?php if($postparams){echo $postparams['username'];} ?>" id="username" name="username" placeholder="Username">
<br>
    <input type="text" class="ad-fc-nw" value="<?php if($postparams){echo $postparams['fname'];} ?>" id="fname" name="fname" placeholder="First Name">

    <input type="text" class="ad-fc-nw" value="<?php if($postparams){echo $postparams['middleName'];} ?>" id="middleName" name="middleName" placeholder="Middle Name">

    <input type="text" class="ad-fc-nw" value="<?php if($postparams){echo $postparams['lname'];} ?>" id="lname" name="lname" placeholder="Last Name">
    <input type="password" class="ad-fc-nw" value="<?php if($postparams){echo $postparams['password'];} ?>" id="password" name="password" placeholder="Password">
</div>


    <div id="faculty_link">
    <p>Link account to Faculty for Evaluation Porpuses</p>
    <select class="form-control" name = "faculty">
      <option value="0"> --- select one -- </option>
    <?php foreach($faculties as $faculty): ?>
      <option value="<?=$faculty->id ?>"><?=$faculty->firstName  ?>  </option>


    <?php endforeach; ?>
  </select>
  </div>
<div class="pad-fc-add">
 <div class="nw-btn-sb">
      <input type="submit" class="add-bt"  value="Submit"/>
    </div>

    <div class="cn-btn-1">
            <a href="<?php echo base_url() ?>section"> Cancel</a>
    </div>


    <div class="clearFixed"></div>  

</div>
</div>

</div>
</form>
</div>
<script type="text/javascript">

  $('form input:radio').click(function(){

      if(this.value == 'faculty'){
          $('#faculty_link').show();
      }else{
          $('#faculty_link').hide();
      }

  });

  $('#faculty_link').hide();
  <?php if($postparams && $postparams['accessLevel']=='faculty'): ?>
  $('#faculty_link').show();
  <?php endif; ?>
</script>
