

<div class="usr-add-fr">
  <h4>Access Level</h4>
<hr>
<form role="form" method="post" action="">
<div class="form-group col-md-4 ad-usr-l">
    <label for="accessLevelinput">Admin</label>
    <?php if($postparams): ?>
    <input type="radio" class="rd-usr"  <?php if($postparams['accessLevel']=='admin'){echo "checked";} ?> name="accessLevel" placeholder="accessLevel" value="admin">
    <?php else: ?>
    <input type="radio" class="rd-usr"  checked name="accessLevel" placeholder="accessLevel" value="admin">
  <?php endif; ?>
  </div>

<div class="form-group col-md-4 ad-usr-l">
    <label for="accessLevelinput">Academic Head</label>
    <?php if($postparams): ?>
    <input type="radio" class="rd-usr"  <?php if($postparams['accessLevel']=='academic'){echo "checked";} ?> name="accessLevel" placeholder="accessLevel" value="academic">
    <?php else: ?>
    <input type="radio" class="rd-usr"   name="accessLevel" placeholder="accessLevel" value="academic">
  <?php endif; ?>
  </div>


  <div class="form-group col-md-4 ad-usr-l">
    <label for="accessLevelinput">Staff</label>
    <input type="radio" class="rd-usr" <?php if($postparams && $postparams['accessLevel']=='staff') {echo "checked";} ?> id="accessLevel" name="accessLevel" placeholder="accessLevel" value="staff">
  </div>

<div class="form-group col-md-4 ad-usr-l">
    <label for="accessLevelinput">Faculty</label>
    <input type="radio" class="rd-usr" <?php if($postparams && $postparams['accessLevel']=='faculty'){echo "checked";} ?> id="accessLevel" name="accessLevel" placeholder="accessLevel" value="faculty" >
  </div>

<div class="clearFixed"></div>

<div class="add-frm-h2">

<hr>
    <p>Personal Details</p>


<div>

<?php if($anyMessage): ?>

      <p><?php echo $anyMessage ?></p>



<?php endif; ?>





</div>

    <input type="text" class="ad-fc-nw" value="<?php if($postparams){echo $postparams['username'];} ?>" id="username" name="username" placeholder="Username">

    <input type="text" class="ad-fc-nw" value="<?php if($postparams){echo $postparams['fname'];} ?>" id="fname" name="fname" placeholder="First Name">

    <input type="text" class="ad-fc-nw" value="<?php if($postparams){echo $postparams['lname'];} ?>" id="lname" name="lname" placeholder="Last Name">

    <input type="password" class="ad-fc-nw" id="password" name="password" placeholder="Input Password">

    <div id="faculty_link">
    <label for="passwordinput">Link account to Faculty for Evaluation Porpuses</label>
    <select class="form-control" name = "faculty">
      <option value="0"> --- select one -- </option>
    <?php foreach($faculties as $faculty): ?>
      <option value="<?=$faculty->id ?>"><?=$faculty->firstName  ?>  </option>


    <?php endforeach; ?>
  </select>
  </div>
  <input type="submit" class="btn btn-default" value="Submit"></input>

            <a href="<?php echo base_url() ?>users"> Cancel</a>

</div>


</form>
</div>
<script type="text/javascript">

  $('form input:radio').click(function(){

      if(this.value == 'faculty'){
          $('#faculty_link').show();
      }else{
          $('#faculty_link').hide();
      }

  });

  $('#faculty_link').hide();
  <?php if($postparams && $postparams['accessLevel']=='faculty'): ?>
  $('#faculty_link').show();
  <?php endif; ?>
</script>
