<?php if($successMessage): ?>

  <div class="alert alert-success">


      <p><?php echo $successMessage ?></p>


</div>

<?php endif; ?>


<form role="form" method="post" action="">


  <div class="form-group">
    <label for="passwordinput">Username</label>
    <input type="text" class="form-control" id="username" readonly name="username" value="<?=$user->username ?>">
  </div>

  <!_---not need to inpurt current password-->
  <!--div class="form-group">
    <label for="passwordinput">Current Password</label>
    <input type="password" class="form-control" id="current_password" name="current_pass" placeholder="Input Current Password">
  </div-->

  <div class="form-group">
    <label for="passwordinput">New Password</label>
    <input type="password" class="form-control" id="new_password" name="new_pass" placeholder="Input New Password">
  </div>

  <div class="form-group">
    <label for="passwordinput">Confirmed Password</label>
    <input type="password" class="form-control" id="confirm_password" name="confirm_pass" placeholder="Comfirm Password">
  </div>

  <input type="submit" class="btn btn-default" value="Submit"></input>
</form>
