
<div class="admin-welcome-page">
    <div class="helper-ver">
        <div class="st-wel-admin">
           <div class="ad-frm-con">
           		<h4>List Of Users</h4>
           		<h5><a href="<?php echo base_url() ?>users/add">+ Add User</a></h5>
				<div style="overflow-x: auto;">
					<table>
					  <tr>
						<th>#</th>
						<th>Username</th>
						<th>Name</th>
						<th>LastName</th>
						<th>AccessLevel</th>
						<th>Option</th>
			
					  </tr>
					  <?php $counter = 1 ?>
				<?php foreach($users as $user): ?>
				<tr>
					<td><?php echo $counter ?></td>
					<td><?php echo $user->username; ?></td>
					<td><?php echo $user->fname; ?></td>
					<td><?php echo $user->lname; ?></td>
					<!--<td><?php echo $user->password; ?></td>-->
					<td><?php echo $user->accessLevel; ?></td>
					
					<td>
					<a href="<?php echo base_url() ?>users/edit?id=<?php echo $user->id ?>">Edit</a>
					-<a href="<?php echo base_url() ?>users/delete?id=<?php echo $user->id ?>">Delete</a></td>
					<?php 
					if($user->accessLevel == "admin"){
						echo '';
					}
					else{
						echo '<!--<a href="<?php echo base_url() ?>users/delete?id=<?php echo $user->id ?>">Delete</a></td>-->';
					}
					?>
					<?php $counter++; ?>
				</tr>
				<?php endforeach; ?>
					</table>
			   </div>
           </div>
        </div>