
<section> <!--for demo wrap-->
<div class="col-3-mx">
<div class="search-inp-h-ri-gen">
	

	<!--<input type="button" name="" placeholder="Search Code">--><a href="<?php echo base_url() ?>users/add"><img src="public/images/add-icon.png"></a></div>
</div>

<div class="col-3-mx">	
<h1>List Of Users</h1>  
</div>

<div class="col-3-mx">
<div class="search-inp-h">
	<!--<input type="text" name="" placeholder="Search Code">--><img src="public/images/search-icon.png">
</div>
</div>
 
<div  class="tbl-header">
<table cellpadding="0" cellspacing="0" border="0">
  <thead>
					  <tr>
						<th>#</th>
						<th>Username</th>
						<th>Name</th>
						<th>LastName</th>
						<th>AccessLevel</th>
						<th>Option</th>

					  </tr>
  </thead>
</table>
</div>
<div  class="tbl-content">
<table cellpadding="0" cellspacing="0" border="0">
  <tbody>
<?php $counter = 1 ?>
				<?php foreach($users as $user): ?>
				<tr>
					<td><?php echo $counter ?></td>
					<td><?php echo $user->username; ?></td>
					<td><?php echo $user->fname; ?></td>
					<td><?php echo $user->lname; ?></td>
					<!--<td><?php echo $user->password; ?></td>-->
					<td><?php echo $user->accessLevel; ?></td>

					<td>
					<a href="<?php echo base_url() ?>users/edit?id=<?php echo $user->id ?>">Edit</a>
					-<a href="<?php echo base_url() ?>users/delete?id=<?php echo $user->id ?>">Delete</a>
					-<a href="<?php echo base_url() ?>users/changepass?id=<?php echo $user->id ?>">Change Password </a></td>
					<?php
					if($user->accessLevel == "admin"){
						echo '';
					}
					else{
						echo '<!--<a href="<?php echo base_url() ?>users/delete?id=<?php echo $user->id ?>">Delete</a></td>-->';
					}
					?>
					<?php $counter++; ?>
				</tr>
				<?php endforeach; ?>

  </tbody>
</table>
</div>
</section>
