
body{
	
	background: 
	linear-gradient(
      rgba(00, 0, 0, 0.50),
      rgba(0, 0, 0, 0.50)
    ),
	url(../images/bg.jpg) no-repeat center center fixed;
	 background-size: cover;
	 height: 100vh;

font-family: 'Roboto', sans-serif;	 
z-index: -999999;	
}
.sb-search {
	position: relative;
	margin-top: 10px;
	width: 0%;
	min-width: 60px;
	height: 60px;
	float: right;
	overflow: hidden;

	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;

	-webkit-backface-visibility: hidden;
}

.sb-search-input {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	outline: none;
	background: #fff;
	width: 100%;
	height: 60px;
	margin: 0;
	z-index: 10;
	padding: 20px 65px 20px 20px;
	font-family: inherit;
	font-size: 20px;
	color: #2c3e50;
}

input[type="search"].sb-search-input {
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
}

.sb-search-input::-webkit-input-placeholder {
	color: #efb480;
}

.sb-search-input:-moz-placeholder {
	color: #efb480;
}

.sb-search-input::-moz-placeholder {
	color: #efb480;
}

.sb-search-input:-ms-input-placeholder {
	color: #efb480;
}

.sb-icon-search,
.sb-search-submit  {
	width: 60px;
	height: 60px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	margin: 0;
	line-height: 60px;
	text-align: center;
	cursor: pointer;
}

.sb-search-submit {
	background: #fff; /* IE needs this */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
	color: transparent;
	border: none;
	outline: none;
	z-index: -1;
}

.sb-icon-search {
	color: #fff;
	background: #e67e22;
	z-index: 90;
	font-size: 22px;
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}

.sb-icon-search:before {
	content: "\e000";
}

/* Search icon by IcoMoon, made with http://icomoon.io/app/ */
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot');
	src:url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.woff') format('woff'),
		url('../fonts/icomoon/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
.sb-search.sb-search-open,
.no-js .sb-search {
	width: 100%;
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
	background: #da6d0d;
	color: #fff;
	z-index: 11;
}
.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
	z-index: 90;
}
h1{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: rgba(255,255,255,0.3);
 }
.tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}

/* demo styles */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  font-family: 'Roboto', sans-serif;
}
section{
  margin: 10px 50px 20px 50px;
}


/* follow me template */
.made-with-love {
  margin-top: 40px;
  padding: 10px;
  clear: left;
  text-align: center;
  font-size: 10px;
  font-family: arial;
  color: #fff;
}
.made-with-love i {
  font-style: normal;
  color: #F50057;
  font-size: 14px;
  position: relative;
  top: 2px;
}
.made-with-love a {
  color: #fff;
  text-decoration: none;
}
.made-with-love a:hover {
  text-decoration: underline;
}


/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

.mobst img{
	width: 100%;
	max-width: 200px;
	padding: 0px;
	
}
.mobst{
	width: 100%;
	max-width: 500px;
	position: absolute;
	top:25%;
	text-align: center;
	left: 34%;
	color: #fff;
    padding: 20px 50px;
    font-family: Arial, Helvetica, sans-seri; 

}

.prc-bu input{
	padding: 10px 20px;
	margin:10px ;
}
.mobst button{
	width: 100%;
	background: none;
	border: 1px solid #fff;

}

.ad-ck input[type=checkbox]{
	width: 10px !important;

}
.admin-nav input[type=checkbox] {
	width: 20px;
}
.commnt-p p{
	padding: 40px;
}
.mobst button:hover{
	background: #5674f0;
	color: #fff;
}
.home-title{
	text-align: center;
	position: relative;
	
}
.home-title h2{
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 26px;
	   font-weight: 100;
	   color: #fff;
}

.home-title p{
	font-style: italic;
	font-size: 9px;
	padding-bottom: 20px;
	color:#fff;
	text-transform: uppercase;
}

.form-group label{
	    font-weight: 300;
    text-transform: uppercase;
    font-size: 14px
}

.mb-lg-st:hover{
	box-shadow: 5px 5px 30px -8px #0e0e0e;	
	transition: 0.5s;
}
.mb-lg-st{
	box-shadow: 5px 5px 30px -14px #0e0e0e;
	    width: 100%;
    max-width: 500px;
    position: absolute;
    left: 33%;
    top: 20%;
    color: #333;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #e2e2e2;
}

.div-add-gr{
	width: 500px;
}

@media screen and (max-width: 320px){
	.mobst{
		width: 280px !important;
	}
	.home-title h2{
		font-size: 15px;
	}
	.home-title p{
		padding-bottom: 0;
	}
	.mb-lg-st{
		width: 280px !important;
	}

	.form_holder_f label{
		margin-right: none;
		display: block;
	}

	.form_holder_f{
		padding: 10px 54px;
	}

	.form_holder_f h3{
		font-weight: 100;
		font-size: 11px;
	}
	.form_holder_f ol li input {
		display: block;
		float: left;
	}

}


@media screen and (max-width: 400px){
	.mobst{
		left: 7% !important;
		
	}
	
	.home-title h2{
		font-size: 20px;
	}
	.home-title p{
		padding: 0;
	}

	.form_holder_f label{
		margin-right: none;
		display: block;
	}

	.form_holder_f{
		padding: 10px 54px;
	}

	.form_holder_f h3{
		font-weight: 100;
		font-size: 11px;
	}
	.form_holder_f ol li input {
		display: block;
		float: left;
	}

	.commntbox {
		width: 225px;
	}
}

@media screen and (max-width: 480px) {
    .mobst {
        width: 100%;
		max-width: 320px;
		position: absolute;
		left: 5%;
    }
	.home-title h2{
		font-size: 20px;
	}
	
	.mb-lg-st{
		left:7%;
		width: 100%;
		max-width: 350px;
	}
}

@media screen and (max-width: 540px){
	.mobst{
		
		width: 400px;
		left:15%;		
	}
}

@media screen and (max-width:581px){
	.fill_up_form{
		text-align: center;
	}
	.fill_up_form label{
		display: none;
		
	}
}

@media screen and (max-width: 600px){
	.mobst{
		width: 350px;
	}
}


@media screen and (max-width: 736px){
	.mobst{
		width: 400px;
	}
}


@media screen and (max-width: 768px){
	.mobst{
		
		left: 17%;
		
	}
}

@media screen and (max-width: 898px){
	.mobst{
		left: 20%;
		
		
	}
}
@media screen and(max-width: 992px){
	.mobst{
		
	}
	
	.mb-lg-st{
		left: ;
	}
}

@media screen and(max-width: 1008px){
	.mobst{
		
		
		
	}
}


@media screen and(max-width: 1024px){
	.mobst{
		
		
		
	}
}








.st-err {
	background:none;
	padding-top: 50px;
}



/*New UI*/

@font-face{
	font-family:Raleway-Medium;
	src:url(../fonts/Raleway-Medium.ttf);
}

@font-face{
	font-family:Raleway-ExtraLight;
	src:url(../fonts/Raleway-ExtraLight.ttf);
}

@font-face{
	font-family:Raleway-Bold;
	src:url(../fonts/Raleway-Bold.ttf);
}

body{
	
}

*{
	padding:0;
	margin:0;
	outline: 0;
	border: 0;
}
.student-welcome-page {
    padding:0px 0;
	display: table;
    height: 100%;
    overflow: hidden;
    width: 100%;
}
.admin-welcome-page {
    padding:0px 0;
	display: table;
    height: 80%;
    /*position: absolute;*/
    overflow: hidden;
    width: 100%;
    border-radius:2px;
}
.helper-ver {
	padding: 30px 0;   
    display: table-cell;
    vertical-align: middle;
}

.st-wel-content h2{
	color: #333;
}

.helper-ver h2{
	padding-bottom: 20px;
	font-weight: 300;
	font-size: 24px;
}
.st-wel-content {
	text-align: center;
    margin: 0 auto;
    width: 100%;
	max-width: 500px;
	color: #fff;
 
}
.st-wel-content p{
    color: #f91515;
    font-style: italic;
}
.st-wel-content h1{
	color: #333;
	text-transform: uppercase;
	font-weight: 300;
}

.st-wel-admin {
	text-align: center;
    margin: 0 auto;
    width: 100%;
	max-width: 1366px;
	color: #fff;
 
}



.st-wel-admin a{
	text-decoration: none;
	color: #fff;
}
.st-wel-admin h1{
	padding: 10px 0px;
	border: 1px solid #fff;
}
.lp-h-we {
	text-align: center;
}
.lp-h-we img{
	width: 100%;
	max-width: 300px;
	
}


.st-wel-content p{
	font-size: 12px;
	margin-bottom: 10px;
}
.st-wel-content input{
	margin:2% 0;
	font-size: 15px;	
}

input.in-student-code {background: none;
    border-bottom: 1px solid #fff;
    padding: 5px 10px;
    width: 100%;
    max-width: 330px;
    text-align: center;
    color: #333;
    font-size: 14px;
    border: 1px solid #f3f3f3;
    border-radius: 5px;
    margin:0px;
}

input.sub-stud-code {
    width: 100%;
    max-width: 330px;
    padding: 10px 0;
    color: #fff;
    background: none;
    border-bottom: 1px solid #3eab41;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px;
    background: #1ea579;
    border-radius: 5px;
}

input.sub-stud-code:hover{

	background:#25bd8c;

	
}


.ch-fc-st {
	margin-top: 30px;
	padding-bottom: 2px;
	text-transform: uppercase;
	background: none;
	color: #fff;
	border-bottom: 1px solid #fff;
	width: 100%;
	max-width: 350px;
	text-align-last:center; 
	font-size:12px;
}

.ch-fc-st option{
	color:#333;
	padding: 5px 0;
}
.crt-p p{
	padding: 20px;
    font-size: 14px;
    line-height: 2;
}

.date-stud-fr {
	background: none;
	color: #fff;
	text-align: center;
	width:100%;
	max-width: 350px;
	border-bottom: 1px solid #fff;
	padding:2px 0;
}

.st-wel-content-form {
	text-align: center;
    margin: 0 auto;
    width: 100%;
	max-width: 1024px;
	color: #fff;
}

.stud-form-1 {
	margin-top:40px;
	padding: 40px;
	background:#f3f3f3;
	color: #4e4e4e;
}

.stud-form-que h3{
	font-size: 13px;
	font-family:Raleway-Medium;
	padding:5px 0;
	
}

.ra-btn-st {
	display: inline-block;
	margin:5px auto 0 auto;
	font-size: 12px;
	font-family:Raleway-Medium;
	width: 100%;
	max-width: 100px;
}

.ra-btn-st label{
	position: relative;
	top:-2px;
}

.stud-form-que {
	margin:20px 0;
}

.sub-frm-btn-n {
	width: 100%;
	max-width: 500px;
	margin:0 auto;
	padding:20px 0;
}

.sub-frm-btn-n input{
	margin-right: 10px;
	font-family:Raleway-Medium;
	padding: 5px 20px;
	border-radius: 2px;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: bold;
	color: #575757;
	border:1px solid #d4d4d4;
	-webkit-box-shadow: 0 8px 6px -6px #818181;
	   -moz-box-shadow: 0 8px 6px -6px #818181;
	        box-shadow: 0 8px 6px -6px #818181;
	cursor: pointer;
}

.sub-frm-btn-n input:hover{
	-webkit-box-shadow: 0 5px 6px 0px #b4b4b4;
	   -moz-box-shadow: 0 5px 6px 0px #b4b4b4;
	        box-shadow: 0 5px 6px 0px #b4b4b4;
}

.com-frm-in {
	width: 100%;
	max-width: 500px;
	margin:0 auto;
}

.commntbox {
	border-radius: 2px;
	border:1px solid #e2e2e2;
	-webkit-box-shadow: 0 8px 6px -6px #9a9a9a;
	   -moz-box-shadow: 0 8px 6px -6px #9a9a9a;
	        box-shadow: 0 8px 6px -6px #9a9a9a;
	
}

.commntbox:hover{
	-webkit-box-shadow: 0 5px 6px 0px #d9d9d9;
	   -moz-box-shadow: 0 5px 6px 0px #d9d9d9;
	        box-shadow: 0 5px 6px 0px #d9d9d9;
}
.frm-sccs {
	text-transform: uppercase;
}

.con-fo {
	margin:50px auto 0 auto;
	font-size: 7px;
	max-width: 500px;
	width: 100%;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
}

.con-fo h2{
	font-size: 12px;
}


input.in-admin-code {color: #333;
    background: #fff;
    border: 1px solid #d8d7d7;
    padding: 10px 10px;
    width: 100%;
    max-width: 330px;
    text-align: center;
    font-size: 12px;
    border-radius: 5px;
    margin: 3px 0;
}

.ad-st-rm {
	width: 100%;
	max-width: 500px;
	text-align: center;
	color: #fff;
	margin:0 auto;
	
}

.ad-st-rm a{
	color: #87d1ff;
}

.ad-st-rm p{
	color:#333;
	font-size: 12px;
	font-weight: 300;
}

.admin-nav {
	color: #fff;
	width: 100%;
	max-width: 1366px;
	margin:0 auto;
}

nav{
	margin-top: 50px;
	margin-bottom: 50px;
}
nav ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav ul li {
	float: right;
}

nav ul h1{
	float: left;
	color: #fff;
	text-transform: uppercase;
}

nav ul h1 a{
	text-decoration: none;
    color: #fff;
    font-weight: 100;
    line-height: 1em;
    font-size: 20px;
}
.add-frm-hl p{
	color: #333;
	font-size: 13px;
	text-transform: uppercase;
}
.add-frm-hl{
	padding: 40px;
	background:#fff;
	max-width: 500px;
	width: 100%;
	margin:0 auto;
	border-radius: 10px;
}

.sb-btn-l{
	text-align: center;
	float: left;
	width: 49%;
}

.sb-btn-l input{   
	color: #fff;
	width: 100%;
    padding: 10px 20px;
    background: #25c18e;
    border-radius: 5px;
    font-size: 12px;
    margin-top:10px;
}
input.add-bt{
	color: #fff !important;
}


.cn-btn-1{
	text-align: center;
width: 49%;
	float: right;
}

.cn-btn-1 a{
	width: 100%;
    padding: 10px 84px;
    background: #25c18e;
    border-radius: 5px;
    font-size: 12px;
    /* margin-top: 10px; */
    color: #fff;
    text-decoration: none;
    position: relative;
    top: 10px;
}

.add-frm-hl label{
	margin:0;	
	text-transform: uppercase;
	font-size: 12px;
}

.add-frm-hl input{
	color: #333;
    margin: 0px 0px 13px 0;
    padding: 5px 10px;
    width: 100%;
    border-bottom:1px solid rgba(195, 195, 195, 0.8)}

.add-frm-hl input:hover{
	border-color:#00b8ff;
	font-size: 14px;
}



.creativenav_3D ul li {
    display: inline-block;
    list-style: outside none none;
}
.creativenav_3D a {
	font-size: 18px;
	padding: 0px 10px;
	position: relative;
	display: inline-block;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
}

.creativenav_3D a {
  color: #fff;
  font-size: 12px;
  display: inline-block;
  text-decoration: none;
  overflow: hidden;
  vertical-align: top;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  -ms-perspective: 600px;
  perspective: 600px;
  -webkit-perspective-origin: 50% 70%;
  -moz-perspective-origin: 50% 70%;
  -ms-perspective-origin: 50% 70%;
  perspective-origin: 50% 70%;
}
.creativenav_3D a:hover span {
  background: #e84b82;
  -webkit-transform: translate3d(0px, 0px, -30px) rotateX(90deg);
  -moz-transform: translate3d(0px, 0px, -30px) rotateX(90deg);
  -ms-transform: translate3d(0px, 0px, -30px) rotateX(90deg);
  transform: translate3d(0px, 0px, -30px) rotateX(90deg);
}
.creativenav_3D a span {
  display: block;
  position: relative;
  padding: 12px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.creativenav_3D a span:after {
  content: attr(data-title);
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  padding: 12px;
  color: #fff;
  background: #e84b82;
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
  -moz-transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
  -ms-transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
  transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
}












nav ul li a{
	font-size: 12px;
	text-transform: uppercase;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 36px;
    text-decoration: none;
}	
.clearFixed	{
	clear: both;
}
.admin-logo {
	float: left;
	width: 20%;

}

.ad-nav-h {
	text-align: right;
	float: right;
	width: 80%;
}

.info-ad-list{
	height: auto;
	width: 100%;
	padding-bottom: 10px;
	border-bottom: 1px solid #333;
}
.ad-frm-con {
	background: #e9ebee;
	width: 100%;
	padding: 50px 20px;
	color: #333;	
	border-radius: 5px;
}

.info-ad-list h5 a{color: #3667ea;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
}

.info-ad-list h5{
	float: right;
}
.info-ad-list h4{
	font-family: helvetica;
    /* font-weight: 600; */
    text-transform: uppercase;
    font-size: 14px;

    float: left;
}



.ad-h1-h {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
}

.prof-cs input{
	padding: 10px 20px;
	color: #333;
	
}

tbody td a{
	color: #fff;
}

.search-inp-h-ri-gen {
	padding: 20px;
}
.dl-btn-co{
	width: 100%;
	max-width:300px;
	margin:0 auto;
	text-align: center;
}

.dl-btn-co button{
	padding:10px 30px;
	border-radius: 25px;
	border: 1px solid rgba(255, 255, 255, 0.45);
	color: rgba(255, 255, 255, 0.68);	
    background: none;	
}

.dl-btn-co button:hover{
	color: #fff;
	border: 1px solid #fff;	
}

.search-inp-h-ri-gen img{
    width: 100%;
    max-width: 20px;
    float: right;
}
.search-inp-h {
}
.search-inp-h input{
	border-radius: 30px;
	padding: 10px 20px;
	width: 100%;
	max-width: 300px;
	color: #333;
}

.search-inp-h img{
	width: 100%;
	max-width: 20px;
	float: right;
position: relative;
    top: 5px;
    right: 4px;
}



.col-3-mx {
	width: 33%;
	display: inline-block;
}
/*
table {
	
	font-family: Raleway-bold;
	font-size: 14px;
	margin-top:20px;
    border-collapse: collapse;
    width: 100%;
}

table a{
	font-family: Raleway-Medium;
	color:#426ee5 !important;
}
th{
	box-shadow: 1px 3px 5px #aaaaaa;

    font-family: helvetica;
    font-weight: 100;
    text-transform: uppercase;
}
th, td {

    font-family: helvetica;
    text-align: left;
    padding: 8px;
}
tr{background:#e1ecff;}
tr:nth-child(even){background-color: #ffffff}

th {
    background-color: #3667ea;
    color:#fff;
}

.table-overflow {
	overflow-x: auto;
}
*/
.ch-handle-holder{
}
.ch-handle-holder h1{
	color: #333;
	padding:0 0 20px 0;
}
.search-inp-h-ri-gen{
	float: left;
    padding: 0;
    position: relative;
    top: 9px;
}
.ch-handle-ck-hl {
	display: inline-block;
	margin:0 20px;
}
.ch-handle-ck-hl label{
	color: #949090;
	margin-right: 0 !important;
}

.ch-handle-ck-h1 label:hover{
	color: #333;
}


.searchbox{
    position:relative;
    min-width:50px;
    width:0%;
    float:right;
    overflow:hidden;
    top:6px;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
}

.searchbox-input{
    top: 0;
    right: 0;
    border: 0;
    outline: 0;
    background: #ffffff;
    width: 100%;
    height: 30px;
    margin: 0;
    padding: 0px 55px 0px 20px; 
    font-size: 14px;
    
}
.searchbox-input::-webkit-input-placeholder {
    color: #d74b4b;
}
.searchbox-input:-moz-placeholder {
    color: #d74b4b;
}
.searchbox-input::-moz-placeholder {
    color: #d74b4b;
}
.searchbox-input:-ms-input-placeholder {
    color: #d74b4b;
}

.searchbox-icon{
	border-radius: 20px;
	width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    top: 0;
    font-family: verdana;
    font-size: 12px;
    right: 0;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    color: #dcddd8;

    background: #25b8c0;
}

.searchbox-submit{
width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    top: 0;
    font-family: verdana;
    font-size: 12px;
    right: 0;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    color: #dcddd8;
    display: none;
    background: #25b8c0
}



.searchbox-open{
    width:70%;
}
