
  <div class="ad-gd">
    <a href="" data-toggle="modal" data-target="#myModal"><h1>Administration Guidelines</h1></a>
  </div>
          

<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          
        </div>
        <div class="modal-body crt-p" style="color:#333;">
          <p>A system for collection of evaluative data concerning the performance of faculty members has been approved by the Administration. The faculty effectiveness data are utilized for decision making by both the supervisor.
 The system of evaluation is tied to the yearly Annual Description of Faculty Activities made by the supervisor. In the document, the percentage of effort designated to each category of faculty activity and the responsibilities within each category are specified.
 Faculty activities are classified into the following categories: teaching, scholarly activity, service, and administration. The evaluators include students, peers and supervisors. The pool from which the peer evaluators are selected is also defined in the Annual Description of Faculty Activities.
 All of the evaluative data and additional supportive material submitted by the faculty member are collected in an Evaluation System which is kept confidential by the supervisor. This used by the supervisor for decision making. The standard operating procedures for administering student evaluations of instructor and peer evaluations describe the exact methods and timelines to be followed.
 Every new member of the faculty and administrator is provided with a complete set of the evaluation system documents and procedures. Additional copies are available from the Office of Academic Affairs.
</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
