<center><h1 class="tit-pr">FACULTY INSTRUCTIONAL RESPONSIBILITIES</h1></center>


<form action="<?php echo base_url() ?>evaluation/process" method="post" id="quiz">
  <input type="hidden" name="currentStep" value="3" />
  <input type="hidden" name="uid" value="<?php echo $uid ?>" >
          <div class="form_holder_f">
                      <ol>

                          <li>
                              <h3>Begins lesson or instructional activity with an appropriate review of previous material </h3>



                                  <input type="radio" <?php if($instruc_responsibilities[0]==0){echo "selected";} ?> name="answers[0]" id="question-1-answers-A" value="0" />
                                  <label for="question-1-answers-A">Never</label>


                                  <input type="radio" name="answers[0]" id="question-1-answers-B" value="1" />
                                  <label for="question-1-answers-B">Strongly Disagree</label>



                                  <input type="radio" name="answers[0]" id="question-1-answers-C" value="2" />
                                  <label for="question-1-answers-C">Disagree</label>



                                  <input type="radio" name="answers[0]" id="question-1-answers-D" value="3" />
                                  <label for="question-1-answers-D">Neutral</label>



                                  <input type="radio" name="answers[0]" id="question-1-answers-E" value="4" />
                                  <label for="question-1-answers-E">Agree</label>



                                  <input type="radio" name="answers[0]" id="question-1-answers-F" value="5" />
                                  <label for="question-1-answers-F">Strongly Agree</label>


                          </li>

                          <li>

                              <h3>Introduces the lesson or instructional activity and specifies learning objectives</h3>


                                  <input type="radio" name="answers[1]" id="question-2-answers-A" value="0" />
                                  <label for="question-2-answers-A">Never</label>



                                  <input type="radio" name="answers[1]" id="question-2-answers-B" value="1" />
                                  <label for="question-2-answers-B">Strongly Disagree</label>



                                  <input type="radio" name="answers[1]" id="question-2-answers-C" value="2" />
                                  <label for="question-2-answers-C">Disagree</label>



                                  <input type="radio" name="answers[1]" id="question-2-answers-D" value="3" />
                                  <label for="question-2-answers-D">Neutral</label>



                                  <input type="radio" name="answers[1]" id="question-2-answers-E" value="4" />
                                  <label for="question-2-answers-E">Agree</label>



                                  <input type="radio" name="answers[1]" id="question-2-answers-F" value="5" />
                                  <label for="question-2-answers-F">Strongly Agree</label>

                          </li>

                          <li>

                              <h3>Speaks fluently and precisely </h3>

                                  <input type="radio" name="answers[2]" id="question-3-answers-A" value="0" />
                                  <label for="question-3-answers-A">Never</label>



                                  <input type="radio" name="answers[2]" id="question-3-answers-B" value="1" />
                                  <label for="question-3-answers-B">Strongly Disagree</label>



                                  <input type="radio" name="answers[2]" id="question-3-answers-C" value="2" />
                                  <label for="question-3-answers-C">Disagree</label>



                                  <input type="radio" name="answers[2]" id="question-3-answers-D" value="3" />
                                  <label for="question-3-answers-D">Neutral</label>



                                  <input type="radio" name="answers[2]" id="question-3-answers-E" value="4" />
                                  <label for="question-3-answers-E">Agree</label>



                                  <input type="radio" name="answers[2]" id="question-3-answers-F" value="5" />
                                  <label for="question-3-answers-F">Strongly Agree</label>


                          </li>

                          <li>

                              <h3>Presents the lesson or instructional activity using concepts and language understandable to students
  </h3>

                                  <input type="radio" name="answers[3]" id="question-4-answers-A" value="0" />
                                  <label for="question-4-answers-A">Never</label>



                                  <input type="radio" name="answers[3]" id="question-4-answers-B" value="1" />
                                  <label for="question-4-answers-B">Strongly Disagree!</label>



                                  <input type="radio" name="answers[3]" id="question-4-answers-C" value="2" />
                                  <label for="question-4-answers-C">Disagree</label>



                                  <input type="radio" name="answers[3]" id="question-4-answers-D" value="3" />
                                  <label for="question-4-answers-D">Neutral</label>



                                  <input type="radio" name="answers[3]" id="question-4-answers-E" value="4" />
                                  <label for="question-4-answers-E">Agree</label>



                                  <input type="radio" name="answers[3]" id="question-4-answers-F" value="5" />
                                  <label for="question-4-answers-F">Strongly Agree</label>


                          </li>

                           <li>

                              <h3>Provides relevant examples and demonstrations to illustrate concepts and skills </h3>


                                  <input type="radio" name="answers[4]" id="question-5-answers-A" value="0" />
                                  <label for="question-5-answers-A">Never</label>



                                  <input type="radio" name="answers[4]" id="question-5-answers-B" value="1" />
                                  <label for="question-5-answers-B">Strongly Disagree!</label>



                                  <input type="radio" name="answers[4]" id="question-5-answers-C" value="2" />
                                  <label for="question-5-answers-C">Disagree</label>



                                  <input type="radio" name="answers[4]" id="question-5-answers-D" value="3" />
                                  <label for="question-5-answers-D">Neutral</label>



                                  <input type="radio" name="answers[4]" id="question-5-answers-E" value="4" />
                                  <label for="question-5-answers-E">Agree</label>



                                  <input type="radio" name="answers[4]" id="question-5-answers-F" value="5" />
                                  <label for="question-5-answers-F">Strongly Agree</label>


                          </li>

                          <li>

                              <h3>Assigns tasks appropriate to student level</h3>



                                  <input type="radio" name="answers[5]" id="question-6-answers-A" value="0" />
                                  <label for="question-6-answers-A">Never</label>



                                  <input type="radio" name="answers[5]" id="question-6-answers-B" value="1" />
                                  <label for="question-6-answers-B">Strongly Disagree!</label>



                                  <input type="radio" name="answers[5]" id="question-6-answers-C" value="2" />
                                  <label for="question-6-answers-C">Disagree</label>



                                  <input type="radio" name="answers[5]" id="question-6-answers-D" value="3" />
                                  <label for="question-6-answers-D">Neutral</label>



                                  <input type="radio" name="answers[5]" id="question-6-answers-E" value="4" />
                                  <label for="question-6-answers-E">Agree</label>



                                  <input type="radio" name="answers[5]" id="question-6-answers-F" value="5" />
                                  <label for="question-6-answers-F">Strongly Agree</label>


                          </li>

                          <li>

                              <h3>Asks appropriate levels of questions </h3>


                                  <input type="radio" name="answers[6]" id="question-7-answers-A" value="0" />
                                  <label for="question-7-answers-A">Never</label>




                                  <input type="radio" name="answers[6]" id="question-7-answers-B" value="1" />
                                  <label for="question-7-answers-B">Strongly Disagree</label>



                                  <input type="radio" name="answers[6]" id="question-7-answers-C" value="2" />
                                  <label for="question-7-answers-C">Disagree</label>



                                  <input type="radio" name="answers[6]" id="question-7-answers-D" value="3" />
                                  <label for="question-7-answers-D">Neutral</label>



                                  <input type="radio" name="answers[6]" id="question-7-answers-E" value="4" />
                                  <label for="question-7-answers-E">Agree</label>



                                  <input type="radio" name="answers[6]" id="question-7-answers-F" value="5" />
                                  <label for="question-7-answers-F">Strongly Agree</label>

                          </li>

                          <li>

                              <h3>Conducts lessons or instructional activities at an appropriate pace </h3>

                                  <input type="radio" name="answers[7]" id="question-8-answers-A" value="0" />
                                  <label for="question-8-answers-A">Never</label>



                                  <input type="radio" name="answers[7]" id="question-8-answers-B" value="1" />
                                  <label for="question-8-answers-B">Strongly Disagree</label>



                                  <input type="radio" name="answers[7]" id="question-8-answers-C" value="2" />
                                  <label for="question-8-answers-C">Disagree</label>



                                  <input type="radio" name="answers[7]" id="question-8-answers-D" value="3" />
                                  <label for="question-8-answers-D">Neutral</label>



                                  <input type="radio" name="answers[7]" id="question-8-answers-E" value="4" />
                                  <label for="question-8-answers-E">Agree</label>



                                  <input type="radio" name="answers[7]" id="question-8-answers-F" value="5" />
                                  <label for="question-8-answers-F">Strongly Agree</label>

                          </li>

                          <li>

                              <h3>Facilitates smooth and effective transitions between instructional activities</h3>

                                  <input type="radio" name="answers[8]" id="question-9-answers-A" value="0" />
                                  <label for="question-9-answers-A">Never</label>



                                  <input type="radio" name="answers[8]" id="question-9-answers-B" value="1" />
                                  <label for="question-9-answers-B">Strongly Disagree</label>



                                  <input type="radio" name="answers[8]" id="question-9-answers-C" value="2" />
                                  <label for="question-9-answers-C">Disagree</label>



                                  <input type="radio" name="answers[8]" id="question-9-answers-D" value="3" />
                                  <label for="question-9-answers-D">Neutral</label>



                                  <input type="radio" name="answers[8]" id="question-9-answers-E" value="4" />
                                  <label for="question-9-answers-E">Agree</label>



                                  <input type="radio" name="answers[8]" id="question-9-answers-F" value="5" />
                                  <label for="question-9-answers-F">Strongly Agree</label>
                          </li>

                           <li>

                              <h3>Makes assignments clear</h3>

                                  <input type="radio" name="answers[9]" id="question-10-answers-A" value="0" />
                                  <label for="question-10-answers-A">Never</label>



                                  <input type="radio" name="answers[9]" id="question-10-answers-B" value="1" />
                                  <label for="question-10-answers-B">Strongly Disagree</label>



                                  <input type="radio" name="answers[9]" id="question-10-answers-C" value="2" />
                                  <label for="question-10-answers-C">Disagree</label>



                                  <input type="radio" name="answers[9]" id="question-10-answers-D" value="3" />
                                  <label for="question-10-answers-D">Neutral</label>



                                  <input type="radio" name="answers[9]" id="question-10-answers-E" value="4" />
                                  <label for="question-10-answers-E">Agree</label>



                                  <input type="radio" name="answers[9]" id="question-10-answers-F" value="5" />
                                  <label for="question-10-answers-F">Strongly Agree</label>

                          </li>

                           <li>

                              <h3>Provides opportunities for the application of concepts and skills</h3>

                                  <input type="radio" name="answers[10]" id="question-11-answers-A" value="0" />
                                  <label for="question-11-answers-A">Never</label>



                                  <input type="radio" name="answers[10]" id="question-11-answers-B" value="1" />
                                  <label for="question-11-answers-B">Strongly Disagree</label>



                                  <input type="radio" name="answers[10]" id="question-11-answers-C" value="2" />
                                  <label for="question-11-answers-C">Disagree</label>



                                  <input type="radio" name="answers[10]" id="question-11-answers-D" value="3" />
                                  <label for="question-11-answers-D">Neutral</label>




                                  <input type="radio" name="answers[10]" id="question-11-answers-E" value="4" />
                                  <label for="question-11-answers-E">Agree</label>



                                  <input type="radio" name="answers[10]" id="question-11-answers-F" value="5" />
                                  <label for="question-11-answers-F">Strongly Agree</label>

                          </li>

                          <li>

                              <h3>Summarizes the main point(s) at the end of the lesson or instructional activities </h3>

                                  <input type="radio" name="answers[11]" id="question-12-answers-A" value="0" />
                                  <label for="question-12-answers-A">Never</label>



                                  <input type="radio" name="answers[11]" id="question-12-answers-B" value="1" />
                                  <label for="question-12-answers-B">Strongly Disagree</label>



                                  <input type="radio" name="answers[11]" id="question-12-answers-C" value="2" />
                                  <label for="question-12-answers-C">Disagree</label>



                                  <input type="radio" name="answers[11]" id="question-12-answers-D" value="3" />
                                  <label for="question-12-answers-D">Neutral</label>



                                  <input type="radio" name="answers[11]" id="question-12-answers-E" value="4" />
                                  <label for="question-12-answers-E">Agree</label>



                                  <input type="radio" name="answers[11]" id="question-12-answers-F" value="5" />
                                  <label for="question-12-answers-F">Strongly Agree</label>

                          </li>



                           <li>

                              <h3>Maintains clear, firm and reasonable work standards and due dates </h3>

                                  <input type="radio" name="answers[12]" id="question-13-answers-A" value="0" />
                                  <label for="question-13-answers-A">Never</label>



                                  <input type="radio" name="answers[12]" id="question-13-answers-B" value="1" />
                                  <label for="question-13-answers-B">Strongly Disagree</label>



                                  <input type="radio" name="answers[12]" id="question-13-answers-C" value="2" />
                                  <label for="question-13-answers-C">Disagree</label>



                                  <input type="radio" name="answers[12]" id="question-13-answers-D" value="3" />
                                  <label for="question-13-answers-D">Neutral</label>


                                  <input type="radio" name="answers[12]" id="question-13-answers-E" value="4" />
                                  <label for="question-13-answers-E">Agree</label>


                                  <input type="radio" name="answers[12]" id="question-13-answers-F" value="5" />
                                  <label for="question-13-answers-F">Strongly Agree</label>


                          </li>

                          <li>

                              <h3>Circulates during class to check all students’ performance </h3>

                                  <input type="radio" name="answers[13]" id="question-14-answers-A" value="0" />
                                  <label for="question-14-answers-A">Never </label>



                                  <input type="radio" name="answers[13]" id="question-14-answers-B" value="1" />
                                  <label for="question-14-answers-B">Strongly Disagree</label>



                                  <input type="radio" name="answers[13]" id="question-14-answers-C" value="2" />
                                  <label for="question-14-answers-C">Disagree</label>



                                  <input type="radio" name="answers[13]" id="question-14-answers-D" value="3" />
                                  <label for="question-14-answers-D">Neutral</label>




                                  <input type="radio" name="answers[13]" id="question-14-answers-E" value="4" />
                                  <label for="question-14-answers-E">Agree</label>



                                  <input type="radio" name="answers[13]" id="question-14-answers-F" value="5" />
                                  <label for="question-14-answers-F">Strongly Agree</label>


                          </li>

                           <li>

                              <h3>Routinely uses oral, written or other work products to check student progress </h3>

                                  <input type="radio" name="answers[14]" id="question-15-answers-A" value="0" />
                                  <label for="question-15-answers-A">Never</label>



                                  <input type="radio" name="answers[14]" id="question-15-answers-B" value="1" />
                                  <label for="question-15-answers-B">Strongly Disagree</label>



                                  <input type="radio" name="answers[14]" id="question-15-answers-C" value="2" />
                                  <label for="question-15-answers-C">Disagree</label>



                                  <input type="radio" name="answers[14]" id="question-15-answers-D" value="3" />
                                  <label for="question-15-answers-D">Neutral</label>



                                  <input type="radio" name="answers[14]" id="question-15-answers-E" value="4" />
                                  <label for="question-15-answers-E">Agree</label>



                                  <input type="radio" name="answers[14]" id="question-15-answers-F" value="5" />
                                  <label for="question-15-answers-F">Strongly Agree</label>


                          </li>

                       </ol>

                       <div class="hidd">
                       <center>

                        <i style="color:red;">Notice! Please be aware that comment box below won't allow any bad words. Thank you!</i>

                    <br><br>

                            <textarea class="commntbox" name="comment" rows="10" cols="80"></textarea>

                        </center>

                    <br>
                    </div>

                       <ul class="pager" style="height:50px;">

                          <?php if($studentCode!=''): ?>
                           <li><a href="<?php echo base_url(); ?>evaluation/start?type=student&uid=<?php echo $uid ?>&step=2">Previous</a></li>
                         <?php else: ?>
                           <li><a href="<?php echo base_url(); ?>evaluation/start?type=faculty&uid=<?php echo $uid ?>&step=2">Previous</a></li>
                         <?php endif; ?>

                           <input type="submit" value="Submit" class="nxtOpStyle">


                                            </ul>
                                                    </div><!--ends form_holder_f2-->

        </form>
