       	

<div class="col-lg-6 mb-lg-st">
<div class="student-welcome-page">
    <div class="helper-ver">
        <div class="st-wel-content">
            
          
          <h1>Faculty Evaluation  </h1>
          
          <form role="form" action="<?php echo base_url() ?>student/check" method="post">
          <input type="text" name="code" id="code" placeholder="Student Code" class="in-student-code">
          <br>
          <input type="submit" value="Login" class="sub-stud-code">
          </form>
                <?php if(!empty($error)): ?>
      <p><?php echo $error ?></p>

<?php endif; ?>
        </div>

    </div>
</div><!--ends student-welcome-page-->
</div>