
<div class="row">

<div class="col-lg-6 mb-lg-st" style="">

<div class="login_form">


<div class="student-welcome-page">
    <div class="helper-ver">
        <div class="st-wel-content">
        <form role="form" action="" method="post">

          <h4>Administrator Login</h4>
          <h2>FACULTY EVALUATION SYSTEM</h2>
          <p>A Thesis in 2016</p>

          <?php if($hasErrors && $isInvalidUsernamePassword): ?>
<div class="">
    <p>Invalid Username/password.</p>
</div>
    <?php endif; ?>
          <div class="form-group <?php if($isUsernameEmpty): ?>has-error <?php endif;?>">
          <input type="text" name="username" id="username" placeholder="Username" class="in-admin-code">
          <?php if($isUsernameEmpty): ?>
                  <div class="">
                    <p>Username should not be empty.</p>
                  </div>
                  <?php endif; ?>
                </div>

          <div class="form-group <?php if($isPasswordEmpty): ?>has-error <?php endif;?>">
          <input type="password" name="password" id="password" placeholder="Password" class="in-admin-code">
            <?php if($isPasswordEmpty): ?>
            <div class="">
                <p>Password should not be empty.</p>
            </div>
                  <?php endif; ?>
            </div>

          <br>

          <input type="hidden" name="token" value="" />
          <input type="submit" value="Login" class="sub-stud-code">

        </form>

        </div>

        <div class="ad-st-rm">
          <p>If you're not an admin, please go to the <a href="<?php echo base_url();?>">student page.</a> Thank you!</p>
        </div>
        <div class="con-fo">
      <h2>&copy;Faculty Evaluation 2016</h2>
      </div>
    </div>
</div><!--ends student-welcome-page-->
