<center><h1 class="tit-pr">INSTRUCTIONAL RESPONSIBILITIES</h1></center>
<?php 
  function IntResultToStringResult($number){

    $str = '';

    switch($number){

      case 6:
        $str = 'Strongly Agree';
        break;

      case 5:
        $str = 'Agree';
        break;

      case 4:
        $str = 'Neutral';
        break;

      case 3:
        $str = 'Disagree';
        break;

      case 2:
        $str = 'Strongly Disagree';
        break;

      case 1: 
        $str = 'Never';
        break;

      default:
        break;
    }

    return $str;
  }


?>

<form action="<?php echo base_url() ?>evaluation/process" method="post" id="quiz">
  <input type="hidden" name="currentStep" value="4" />
  <input type="hidden" name="uid" value="<?php echo $uid ?>" >
          <div class="form_holder_f">
                      <ol>

                          <li>
                              <h3>Speaks with a modulated voice, clear diction, pronunciation and articulation.</h3>



                                  <input type="radio" required <?php if($instruc_responsibilities[0] == 1) {echo "checked";} ?> name="answers[0]" id="question-1-answers-A" value="1" />
                                  <label class="qst-lbl" for="question-1-answers-A">Never</label>


                                  <input type="radio" required <?php if($instruc_responsibilities[0] == 2) {echo "checked";} ?> name="answers[0]" id="question-1-answers-B" value="2" />
                                  <label class="qst-lbl" for="question-1-answers-B">Strongly Disagree</label>



                                  <input type="radio" required <?php if($instruc_responsibilities[0] == 3) {echo "checked";} ?> name="answers[0]" id="question-1-answers-C" value="3" />
                                  <label class="qst-lbl" for="question-1-answers-C">Disagree</label>



                                  <input type="radio" required <?php if($instruc_responsibilities[0] == 4) {echo "checked";} ?> name="answers[0]" id="question-1-answers-D" value="4" />
                                  <label class="qst-lbl" for="question-1-answers-D">Neutral</label>



                                  <input type="radio" required <?php if($instruc_responsibilities[0] == 5) {echo "checked";} ?> name="answers[0]" id="question-1-answers-E" value="5" />
                                  <label class="qst-lbl" for="question-1-answers-E">Agree</label>



                                  <input type="radio" required <?php if($instruc_responsibilities[0] == 6) {echo "checked";} ?> name="answers[0]" id="question-1-answers-F" value="6" />
                                  <label class="qst-lbl" for="question-1-answers-F">Strongly Agree</label>


                          </li>

                          <li>

                              <h3>Shows effective non-verbal communication like facial expressions and gestures.</h3>


                                  <input type="radio" required <?php if($instruc_responsibilities[1] == 1) {echo "checked";} ?>  name="answers[1]" id="question-2-answers-A" value="1" />
                                  <label class="qst-lbl" for="question-2-answers-A">Never</label>



                                  <input type="radio" required <?php if($instruc_responsibilities[1] == 2) {echo "checked";} ?>  name="answers[1]" id="question-2-answers-B" value="2" />
                                  <label class="qst-lbl" for="question-2-answers-B">Strongly Disagree</label>



                                  <input type="radio" required <?php if($instruc_responsibilities[1] == 3) {echo "checked";} ?>  name="answers[1]" id="question-2-answers-C" value="3" />
                                  <label class="qst-lbl" for="question-2-answers-C">Disagree</label>



                                  <input type="radio" required <?php if($instruc_responsibilities[1] == 4) {echo "checked";} ?>  name="answers[1]" id="question-2-answers-D" value="4" />
                                  <label class="qst-lbl" for="question-2-answers-D">Neutral</label>



                                  <input type="radio" required <?php if($instruc_responsibilities[1] == 5) {echo "checked";} ?>  name="answers[1]" id="question-2-answers-E" value="5" />
                                  <label class="qst-lbl" for="question-2-answers-E">Agree</label>



                                  <input type="radio" required <?php if($instruc_responsibilities[1] == 6) {echo "checked";} ?>  name="answers[1]" id="question-2-answers-F" value="6" />
                                  <label class="qst-lbl" for="question-2-answers-F">Strongly Agree</label>

                          </li>

                          <li>

                              <h3>Uses appropreate words in class.</h3>



                                  <?php for($i=1;$i<=6;$i++): ?>
                                  <input type="radio" required <?php if($instruc_responsibilities[2] == $i) {echo "checked";} ?>   name="answers[2]" id="question-3-answers-<?=$i ?>" value="<?= $i ?>" />
                                  <label class="qst-lbl" for="question-3-answers-<?=$i ?>"><?= IntResultToStringResult($i) ?></label>
                                <?php endfor; ?>



                          </li>

                          <li>

                              <h3>Demonstrates a deep and complete knowledge of theory and content in subjects of specialization appropriate to the year level.
  </h3>

                                    <?php for($i=1;$i<=6;$i++): ?>
                                  <input type="radio" required <?php if($instruc_responsibilities[3] == $i) {echo "checked";} ?>   name="answers[3]" id="question-4-answers-<?=$i ?>" value="<?= $i ?>" />
                                  <label class="qst-lbl" for="question-4-answers-<?=$i ?>"><?= IntResultToStringResult($i) ?></label>
                                <?php endfor; ?>
                                 


                          </li>

                           <li>

                              <h3>Keeps abreast with new developments in his/her area of expertise. </h3>

                                     <?php for($i=1;$i<=6;$i++): ?>
                                  <input type="radio" required <?php if($instruc_responsibilities[4] == $i) {echo "checked";} ?>   name="answers[4]" id="question-5-answers-<?=$i ?>" value="<?= $i ?>" />
                                  <label class="qst-lbl" for="question-5-answers-<?=$i ?>"><?= IntResultToStringResult($i) ?></label>
                                <?php endfor; ?>

                                 

                          </li>

                          <li>

                              <h3>Recognizes the relationship between his/her subject matter to other areas of descipline.</h3>

                                     <?php for($i=1;$i<=6;$i++): ?>
                                  <input type="radio" required <?php if($instruc_responsibilities[5] == $i) {echo "checked";} ?>   name="answers[5]" id="question-6-answers-<?=$i ?>" value="<?= $i ?>" />
                                  <label class="qst-lbl" for="question-6-answers-<?=$i ?>"><?= IntResultToStringResult($i) ?></label>
                                <?php endfor; ?>


                                 

                          </li>

                          <li>

                              <h3>Respons reasonably to students' descipline problems.</h3>

                                      <?php for($i=1;$i<=6;$i++): ?>
                                  <input type="radio" required <?php if($instruc_responsibilities[6] == $i) {echo "checked";} ?>   name="answers[6]" id="question-7-answers-<?=$i ?>" value="<?= $i ?>" />
                                  <label class="qst-lbl" for="question-7-answers-<?=$i ?>"><?= IntResultToStringResult($i) ?></label>
                                <?php endfor; ?>


                          </li>

                          <li>

                              <h3>Sets appropriate instructions and expectations for students clearly, and implements such instructions firmly.</h3>

                                     <?php for($i=1;$i<=6;$i++): ?>
                                  <input type="radio" required <?php if($instruc_responsibilities[7] == $i) {echo "checked";} ?>   name="answers[7]" id="question-8-answers-<?=$i ?>" value="<?= $i ?>" />
                                  <label class="qst-lbl" for="question-8-answers-<?=$i ?>"><?= IntResultToStringResult($i) ?></label>
                                <?php endfor; ?>


                          </li>

                          <li>

                              <h3>Provides a classroom set-up conductive for learning.</h3>


                                    <?php for($i=1;$i<=6;$i++): ?>
                                  <input type="radio" required <?php if($instruc_responsibilities[8] == $i) {echo "checked";} ?>   name="answers[8]" id="question-9-answers-<?=$i ?>" value="<?= $i ?>" />
                                  <label class="qst-lbl" for="question-9-answers-<?=$i ?>"><?= IntResultToStringResult($i) ?></label>
                                <?php endfor; ?>


                          </li>

                           <li>

                              <h3>Ensures the organization and availability of materials that will be used in class.</h3>

                                    <?php for($i=1;$i<=6;$i++): ?>
                                  <input type="radio" required <?php if($instruc_responsibilities[9] == $i) {echo "checked";} ?>   name="answers[9]" id="question-10-answers-<?=$i ?>" value="<?= $i ?>" />
                                  <label class="qst-lbl" for="question-10-answers-<?=$i ?>"><?= IntResultToStringResult($i) ?></label>
                                <?php endfor; ?>


                          </li>

                           <li>

                              <h3>Monitors students' punctuality and attendance.</h3>


                                  <?php for($i=1;$i<=6;$i++): ?>
                                  <input type="radio" required <?php if($instruc_responsibilities[10] == $i) {echo "checked";} ?>   name="answers[10]" id="question-11-answers-<?=$i ?>" value="<?= $i ?>" />
                                  <label class="qst-lbl" for="question-11-answers-<?=$i ?>"><?= IntResultToStringResult($i) ?></label>
                                <?php endfor; ?>

                               

                          </li>

                          <li>

                              <h3>Maintains discipline inside the classroom. </h3>

                               <?php for($i=1;$i<=6;$i++): ?>
                                  <input type="radio" required <?php if($instruc_responsibilities[11] == $i) {echo "checked";} ?>   name="answers[11]" id="question-12-answers-<?=$i ?>" value="<?= $i ?>" />
                                  <label class="qst-lbl" for="question-12-answers-<?=$i ?>"><?= IntResultToStringResult($i) ?></label>
                                <?php endfor; ?>

                                

                          </li>



                           <li>

                              <h3>Productively utilizes the time allotted for class.</h3>


                               <?php for($i=1;$i<=6;$i++): ?>
                                  <input type="radio" required <?php if($instruc_responsibilities[12] == $i) {echo "checked";} ?>   name="answers[12]" id="question-13-answers-<?=$i ?>" value="<?= $i ?>" />
                                  <label class="qst-lbl" for="question-13-answers-<?=$i ?>"><?= IntResultToStringResult($i) ?></label>
                                <?php endfor; ?>


                          </li>

                          <li>

                              <h3>Comes to class prepared and ready to teach.</h3>


                                <?php for($i=1;$i<=6;$i++): ?>
                                  <input type="radio" required <?php if($instruc_responsibilities[13] == $i) {echo "checked";} ?>   name="answers[13]" id="question-14-answers-<?=$i ?>" value="<?= $i ?>" />
                                  <label class="qst-lbl" for="question-14-answers-<?=$i ?>"><?= IntResultToStringResult($i) ?></label>
                                <?php endfor; ?>

                                

                          </li>

                           <li>

                              <h3>Implements instructional goals suitable for the students.</h3>

                               <?php for($i=1;$i<=6;$i++): ?>
                                  <input type="radio" required <?php if($instruc_responsibilities[14] == $i) {echo "checked";} ?>   name="answers[14]" id="question-15-answers-<?=$i ?>" value="<?= $i ?>" />
                                  <label class="qst-lbl" for="question-15-answers-<?=$i ?>"><?= IntResultToStringResult($i) ?></label>
                                <?php endfor; ?>

                                 

                          </li>

                          <li>

                              <h3>Establishes a connection between the topics being discussed and the students' improvement, future profession, and life application.</h3>

                                   <?php for($i=1;$i<=6;$i++): ?>
                                  <input type="radio" required <?php if($instruc_responsibilities[15] == $i) {echo "checked";} ?>   name="answers[15]" id="question-16-answers-<?=$i ?>" value="<?= $i ?>" />
                                  <label class="qst-lbl" for="question-16-answers-<?=$i ?>"><?= IntResultToStringResult($i) ?></label>
                                <?php endfor; ?>

                                 
                          </li>

                          <li>

                              <h3>Uses and promotes technology-based resources in classrooms.</h3>

                                <?php for($i=1;$i<=6;$i++): ?>
                                  <input type="radio" required <?php if($instruc_responsibilities[16] == $i) {echo "checked";} ?>   name="answers[16]" id="question-17-answers-<?=$i ?>" value="<?= $i ?>" />
                                  <label class="qst-lbl" for="question-17-answers-<?=$i ?>"><?= IntResultToStringResult($i) ?></label>
                                <?php endfor; ?>

                                 
                          </li>

                          <li>

                              <h3>Makes himself/herself available for questions and clarifications about the course.</h3>

                              <?php for($i=1;$i<=6;$i++): ?>
                                  <input type="radio" required <?php if($instruc_responsibilities[17] == $i) {echo "checked";} ?>   name="answers[17]" id="question-18-answers-<?=$i ?>" value="<?= $i ?>" />
                                  <label class="qst-lbl" for="question-18-answers-<?=$i ?>"><?= IntResultToStringResult($i) ?></label>
                                <?php endfor; ?>

                              
                          </li>

                          <li>

                              <h3>Uses other appropriate instructional materials aside from prescribed reference materials.</h3>
<?php for($i=1;$i<=6;$i++): ?>
                                  <input type="radio" required <?php if($instruc_responsibilities[18] == $i) {echo "checked";} ?>   name="answers[18]" id="question-19-answers-<?=$i ?>" value="<?= $i ?>" />
                                  <label class="qst-lbl" for="question-19-answers-<?=$i ?>"><?= IntResultToStringResult($i) ?></label>
                                <?php endfor; ?>

                          </li>

                          <li>

                              <h3>Handles students with varying need and abilities by using appropreate approaches.</h3>

                                 <?php for($i=1;$i<=6;$i++): ?>
                                  <input type="radio" required <?php if($instruc_responsibilities[19] == $i) {echo "checked";} ?>   name="answers[19]" id="question-20-answers-<?=$i ?>" value="<?= $i ?>" />
                                  <label class="qst-lbl" for="question-20-answers-<?=$i ?>"><?= IntResultToStringResult($i) ?></label>
                                <?php endfor; ?>

                          </li>

                          <li>

                              <h3>Explains theories and concepts of the topic clearly and thoroughly.</h3>

                                   <?php for($i=1;$i<=6;$i++): ?>
                                  <input type="radio" required <?php if($instruc_responsibilities[20] == $i) {echo "checked";} ?>   name="answers[20]" id="question-21-answers-<?=$i ?>" value="<?= $i ?>" />
                                  <label class="qst-lbl" for="question-21-answers-<?=$i ?>"><?= IntResultToStringResult($i) ?></label>
                                <?php endfor; ?>

                          </li>

                          <li>

                              <h3>Asks logical, purposeful, and thought-provoking questions.</h3>

                                   <?php for($i=1;$i<=6;$i++): ?>
                                  <input type="radio" required <?php if($instruc_responsibilities[21] == $i) {echo "checked";} ?>   name="answers[21]" id="question-22-answers-<?=$i ?>" value="<?= $i ?>" />
                                  <label class="qst-lbl" for="question-22-answers-<?=$i ?>"><?= IntResultToStringResult($i) ?></label>
                                <?php endfor; ?>

                          </li>

                          <li>

                              <h3>Encourages students to participate in class by stimulating their ideas.</h3>

                                     <?php for($i=1;$i<=6;$i++): ?>
                                  <input type="radio" required <?php if($instruc_responsibilities[22] == $i) {echo "checked";} ?>   name="answers[22]" id="question-23-answers-<?=$i ?>" value="<?= $i ?>" />
                                  <label class="qst-lbl" for="question-23-answers-<?=$i ?>"><?= IntResultToStringResult($i) ?></label>
                                <?php endfor; ?>

                          </li>

                          <li>

                              <h3>Monitors and records students' performance in class.</h3>

                                     <?php for($i=1;$i<=6;$i++): ?>
                                  <input type="radio" required <?php if($instruc_responsibilities[23] == $i) {echo "checked";} ?>   name="answers[23]" id="question-24-answers-<?=$i ?>" value="<?= $i ?>" />
                                  <label class="qst-lbl" for="question-24-answers-<?=$i ?>"><?= IntResultToStringResult($i) ?></label>
                                <?php endfor; ?>


                          </li>

                          <li>

                              <h3>Shows effectiveness in facilitating quizzes and examinations.</h3>

                                   <?php for($i=1;$i<=6;$i++): ?>
                                  <input type="radio" required <?php if($instruc_responsibilities[24] == $i) {echo "checked";} ?>   name="answers[24]" id="question-25-answers-<?=$i ?>" value="<?= $i ?>" />
                                  <label class="qst-lbl" for="question-25-answers-<?=$i ?>"><?= IntResultToStringResult($i) ?></label>
                                <?php endfor; ?>


                          </li>

                          <li>

                              <h3>Returns corrected examinations, quizzes, exercises, case studies, researches, etc. to students on time.</h3>

                                    <?php for($i=1;$i<=6;$i++): ?>
                                  <input type="radio" required <?php if($instruc_responsibilities[25] == $i) {echo "checked";} ?>   name="answers[25]" id="question-26-answers-<?=$i ?>" value="<?= $i ?>" />
                                  <label class="qst-lbl" for="question-26-answers-<?=$i ?>"><?= IntResultToStringResult($i) ?></label>
                                <?php endfor; ?>


                          </li>

                          <li>

                              <h3>Gives appropriate feedback without embarrassing the students who commit mistakes.</h3>

                                  <?php for($i=1;$i<=6;$i++): ?>
                                  <input type="radio" required <?php if($instruc_responsibilities[26] == $i) {echo "checked";} ?>   name="answers[26]" id="question-27-answers-<?=$i ?>" value="<?= $i ?>" />
                                  <label class="qst-lbl" for="question-27-answers-<?=$i ?>"><?= IntResultToStringResult($i) ?></label>
                                <?php endfor; ?>


                          </li>

                          <li>

                              <h3>Provides intervention/remediation/consultation to students having difficulty in learning.</h3>

                                   <?php for($i=1;$i<=6;$i++): ?>
                                  <input type="radio" required <?php if($instruc_responsibilities[27] == $i) {echo "checked";} ?>   name="answers[27]" id="question-28-answers-<?=$i ?>" value="<?= $i ?>" />
                                  <label class="qst-lbl" for="question-28-answers-<?=$i ?>"><?= IntResultToStringResult($i) ?></label>
                                <?php endfor; ?>

                          </li>



                       </ol>

                       <center>

                        <i style="color:red;">Notice! Please be aware that comment box below won't allow any vulgar words. Thank you!</i>

                    <br><br>

                            <textarea class="commntbox" name="comment" rows="10" cols="80"></textarea>

                        </center>

                    <br>


                       <ul class="pager" style="height:50px;">

                          
                           <li><a href="<?php echo base_url(); ?>evaluation/start?type=<?php echo $type; ?>&uid=<?php echo $uid ?>&step=3">Previous</a></li>
                        

                           <input type="submit" value="Next" class="nxtOpStyle">


                                            </ul>
                                                    </div><!--ends form_holder_f2-->

        </form>
