<div class="f-r-new">
  
</div>


<center><h1 class="tit-pr">ADMINISTRATIVE RESPONSIBILITIES</h1></center>

 <div class="ins-hl">
   <div class="ins-hl-hd">
     <p>Instructions:</p>
   </div>

   <div class="ins-hl-bdy">
     <p>Please rate the faculty fairly as to how he/she performs in his//her varying areas of responsibility. Select one of the choices to indicate your level of agreement.</p>
     <p>Please note that the professional part may be accomplished before or after the classroom observation.</p>
   </div>
  </div><!--ends ins-hl-->
<form action="<?php echo base_url() ?>evaluation/process" method="post" id="quiz">
  <input type="hidden" name="currentStep" value="3" />
  <input type="hidden" name="uid" value="<?php echo $uid ?>" >
         <div class="form_holder_f">

                      <ol>

                          <li>

                              <?php


                                  $answers = $admin_responsibilities;

                               ?>

                              <h3>Uses courseware materials and adheres to courseware usage policy.</h3>

                                  <input type="radio" required <?php if($admin_responsibilities[0] == 1) {echo "checked";} ?> name="answers[0]" id="question-1-answers-A" value="1" />
                                  <label class="qst-lbl" for="question-1-answers-A">Never</label>



                                  <input type="radio" required <?php if($admin_responsibilities[0] == 2) {echo "checked";} ?>  name="answers[0]" id="question-1-answers-B" value="2" />
                                  <label class="qst-lbl" for="question-1-answers-B">Strongly Disagree</label>



                                  <input type="radio" required <?php if($admin_responsibilities[0] == 3) {echo "checked";}  ?> name="answers[0]" id="question-1-answers-C" value="3" />
                                  <label class="qst-lbl" for="question-1-answers-C">Disagree</label>



                                  <input type="radio" required <?php if($admin_responsibilities[0] == 4) {echo "checked";} ?>  name="answers[0]" id="question-1-answers-D" value="4" />
                                  <label class="qst-lbl" for="question-1-answers-D">Neutral</label>




                                  <input type="radio" required <?php if($admin_responsibilities[0] == 5) {echo "checked";} ?>  name="answers[0]" id="question-1-answers-E" value="5" />
                                  <label class="qst-lbl" for="question-1-answers-E">Agree</label>



                                  <input type="radio" required <?php if($admin_responsibilities[0] == 6) {echo "checked";} ?> name="answers[0]" id="question-1-answers-F" value="6" />
                                  <label class="qst-lbl" for="question-1-answers-F">Strongly Agree</label>





                          </li>

                          <li>

                              <h3>Accomplishes duties and submits necessary assignments and reports properly and on time.</h3>

                                  <input type="radio" required <?php if($admin_responsibilities[1] == 1) {echo "checked";} ?> name="answers[1]" id="question-2-answers-A" value="1" />
                                  <label class="qst-lbl" for="question-2-answers-A">Never</label>



                                  <input type="radio" required <?php if($admin_responsibilities[1] == 2) {echo "checked";} ?>  name="answers[1]" id="question-2-answers-B" value="2" />
                                  <label class="qst-lbl" for="question-2-answers-B">Strongly Disagree</label>



                                  <input type="radio" required <?php if($admin_responsibilities[1] == 3) {echo "checked";} ?> name="answers[1]" id="question-2-answers-C" value="3" />
                                  <label class="qst-lbl" for="question-2-answers-C">Disagree</label>



                                  <input type="radio" required <?php if($admin_responsibilities[1] == 4) {echo "checked";} ?> name="answers[1]" id="question-2-answers-D" value="4" />
                                  <label class="qst-lbl" for="question-2-answers-D">Neutral</label>


                                  <input type="radio" required <?php if($admin_responsibilities[1] == 5) {echo "checked";} ?> name="answers[1]" id="question-2-answers-E" value="5" />
                                  <label class="qst-lbl" for="question-2-answers-E">Agree</label>


                                  <input type="radio" required <?php if($admin_responsibilities[1] == 6) {echo "checked";} ?> name="answers[1]" id="question-2-answers-F" value="6" />
                                  <label class="qst-lbl" for="question-2-answers-F">Strongly Agree</label>






                          </li>

                          <li>

                              <h3>Complies with the policies on attendance and punctuality as stated in the Faculty Manual.</h3>

                                  <input type="radio" required <?php if($admin_responsibilities[2] == 1) {echo "checked";} ?>  name="answers[2]" id="question-3-answers-A" value="1" />
                                  <label class="qst-lbl" for="question-3-answers-A">Never</label>



                                  <input type="radio" required  <?php if($admin_responsibilities[2] == 2) {echo "checked";} ?>  name="answers[2]" id="question-3-answers-B" value="2" />
                                  <label class="qst-lbl" for="question-3-answers-B">Strongly Disagree</label>



                                  <input type="radio" required  <?php if($admin_responsibilities[2] == 3) {echo "checked";} ?> name="answers[2]" id="question-3-answers-C" value="3" />
                                  <label class="qst-lbl" for="question-3-answers-C">Disagree</label>



                                  <input type="radio" required  <?php if($admin_responsibilities[2] == 4) {echo "checked";} ?> name="answers[2]" id="question-3-answers-D" value="4" />
                                  <label class="qst-lbl" for="question-3-answers-D">Neutral</label>



                                  <input type="radio" required  <?php if($admin_responsibilities[2] == 5) {echo "checked";} ?> name="answers[2]" id="question-3-answers-E" value="5" />
                                  <label class="qst-lbl" for="question-3-answers-E">Agree</label>



                                  <input type="radio" required  <?php if($admin_responsibilities[2] == 6) {echo "checked";} ?> name="answers[2]" id="question-3-answers-F" value="6" />
                                  <label class="qst-lbl" for="question-3-answers-F">Strongly Agree</label>



                          </li>

                          <li>

                              <h3>Provides time for academic advising of students and consultation with parents.</h3>

                                  <input type="radio" required  <?php if($admin_responsibilities[3] == 1) {echo "checked";} ?> name="answers[3]" id="question-4-answers-A" value="1" />
                                  <label class="qst-lbl" for="question-4-answers-A">Never</label>



                                  <input type="radio" required  <?php if($admin_responsibilities[3] == 2) {echo "checked";} ?> name="answers[3]" id="question-4-answers-B" value="2" />
                                  <label class="qst-lbl" for="question-4-answers-B">Strongly Disagree</label>



                                  <input type="radio" required  <?php if($admin_responsibilities[3] == 3) {echo "checked";} ?> name="answers[3]" id="question-4-answers-C" value="3" />
                                  <label class="qst-lbl" for="question-4-answers-C">Disagree</label>



                                  <input type="radio" required  <?php if($admin_responsibilities[3] == 4) {echo "checked";} ?> name="answers[3]" id="question-4-answers-D" value="4" />
                                  <label class="qst-lbl" for="question-4-answers-D">Neutral</label>



                                  <input type="radio" required  <?php if($admin_responsibilities[3] == 5) {echo "checked";} ?> name="answers[3]" id="question-4-answers-E" value="5" />
                                  <label class="qst-lbl" for="question-4-answers-E">Agree</label>



                                  <input type="radio" required  <?php if($admin_responsibilities[3] == 6) {echo "checked";} ?> name="answers[3]" id="question-4-answers-F" value="6" />
                                  <label class="qst-lbl" for="question-4-answers-F">Strongly Agree</label>


                          </li>

                           <li>

                              <h3>Strictly adheres to STI's grading system policy.</h3>

                                  <input type="radio" required <?php if($admin_responsibilities[4] == 1) {echo "checked";} ?>  name="answers[4]" id="question-5-answers-A" value="1" />
                                  <label class="qst-lbl" for="question-5-answers-A">Never</label>



                                  <input type="radio" required  <?php if($admin_responsibilities[4] == 2) {echo "checked";} ?> name="answers[4]" id="question-5-answers-B" value="2" />
                                  <label class="qst-lbl" for="question-5-answers-B">Strongly Disagree</label>



                                  <input type="radio" required  <?php if($admin_responsibilities[4] == 3) {echo "checked";} ?> name="answers[4]" id="question-5-answers-C" value="3" />
                                  <label class="qst-lbl" for="question-5-answers-C">Disagree</label>



                                  <input type="radio" required  <?php if($admin_responsibilities[4] == 4) {echo "checked";} ?> name="answers[4]" id="question-5-answers-D" value="4" />
                                  <label class="qst-lbl" for="question-5-answers-D">Neutral</label>



                                  <input type="radio" required name="answers[4]"  <?php if($admin_responsibilities[4] == 5) {echo "checked";} ?>id="question-5-answers-E" value="5" />
                                  <label class="qst-lbl" for="question-5-answers-E">Agree</label>



                                  <input type="radio" required name="answers[4]"  <?php if($admin_responsibilities[4] == 6) {echo "checked";} ?> id="question-5-answers-F" value="6" />
                                  <label class="qst-lbl" for="question-5-answers-F">Strongly Agree</label>




                          </li>

                          <li>

                              <h3>Serves as moderator in co-curricular and extracurricular organizations and activities.</h3>

                                  <input type="radio" required  <?php if($admin_responsibilities[5] == 1) {echo "checked";}?> name="answers[5]" id="question-6-answers-A" value="1" />
                                  <label class="qst-lbl" for="question-6-answers-A">Never</label>



                                  <input type="radio" required <?php if($admin_responsibilities[5] == 2) {echo "checked";}?>  name="answers[5]" id="question-6-answers-B" value="2" />
                                  <label class="qst-lbl" for="question-6-answers-B">Strongly Disagree</label>



                                  <input type="radio" required <?php if($admin_responsibilities[5] == 3) {echo "checked";}?>  name="answers[5]" id="question-6-answers-C" value="3" />
                                  <label class="qst-lbl" for="question-6-answers-C">Disagree</label>



                                  <input type="radio" required <?php if($admin_responsibilities[5] == 4) {echo "checked";}?> name="answers[5]" id="question-6-answers-D" value="4" />
                                  <label class="qst-lbl" for="question-6-answers-D">Neutral</label>



                                  <input type="radio" required <?php if($admin_responsibilities[5] == 5) {echo "checked";}?>  name="answers[5]" id="question-6-answers-E" value="5" />
                                  <label class="qst-lbl" for="question-6-answers-E">Agree</label>



                                  <input type="radio" required <?php if($admin_responsibilities[5] == 6) {echo "checked";}?>  name="answers[5]" id="question-6-answers-F" value="6" />
                                  <label class="qst-lbl" for="question-6-answers-F">Strongly Agree</label>




                          </li>

                          <li>

                              <h3>Involves himself/herself in school-sponsored/supported projects and programs.</h3>

                                  <input type="radio" required <?php if($admin_responsibilities[6] == 1) {echo "checked";}?>  name="answers[6]" id="question-7-answers-A" value="1" />
                                  <label class="qst-lbl" for="question-7-answers-A">Never</label>



                                  <input type="radio" required <?php if($admin_responsibilities[6] == 2) {echo "checked";}?>   name="answers[6]" id="question-7-answers-B" value="2" />
                                  <label class="qst-lbl" for="question-7-answers-B">Strongly Disagree</label>



                                  <input type="radio" required <?php if($admin_responsibilities[6] == 3) {echo "checked";}?>   name="answers[6]" id="question-7-answers-C" value="3" />
                                  <label class="qst-lbl" for="question-7-answers-C">Disagree</label>



                                  <input type="radio" required <?php if($admin_responsibilities[6] == 4) {echo "checked";}?>   name="answers[6]" id="question-7-answers-D" value="4" />
                                  <label class="qst-lbl" for="question-7-answers-D">Neutral</label>


                                  <input type="radio" required <?php if($admin_responsibilities[6] == 5) {echo "checked";}?>   name="answers[6]" id="question-7-answers-E" value="5" />
                                  <label class="qst-lbl" for="question-7-answers-E">Agree</label>



                                  <input type="radio" required <?php if($admin_responsibilities[6] == 6) {echo "checked";}?>   name="answers[6]" id="question-7-answers-F" value="6" />
                                  <label class="qst-lbl" for="question-7-answers-F">Strongly Agree</label>

                          </li>
                          <li>

                              <h3>Adheres to STI's dress code policy.
  </h3>

                                  <input type="radio" required <?php if($admin_responsibilities[7] == 1) {echo "checked";}?>   name="answers[7]" id="question-8-answers-A" value="1" />
                                  <label class="qst-lbl" for="question-8-answers-A">Never</label>



                                  <input type="radio" required <?php if($admin_responsibilities[7] == 2) {echo "checked";}?>   name="answers[7]" id="question-8-answers-B" value="2" />
                                  <label class="qst-lbl" for="question-8-answers-B">Strongly Disagree</label>



                                  <input type="radio" required <?php if($admin_responsibilities[7] == 3) {echo "checked";}?>  name="answers[7]" id="question-8-answers-C" value="3" />
                                  <label class="qst-lbl" for="question-8-answers-C">Disagree</label>



                                  <input type="radio" required <?php if($admin_responsibilities[7] == 4) {echo "checked";}?>   name="answers[7]" id="question-8-answers-D" value="4" />
                                  <label class="qst-lbl" for="question-8-answers-D">Neutral</label>



                                  <input type="radio" required <?php if($admin_responsibilities[7] == 5) {echo "checked";}?>  name="answers[7]" id="question-8-answers-E" value="5" />
                                  <label class="qst-lbl" for="question-8-answers-E">Agree</label>


                                  <input type="radio" required <?php if($admin_responsibilities[7] == 6) {echo "checked";}?>  name="answers[7]" id="question-8-answers-F" value="6" />
                                  <label class="qst-lbl" for="question-8-answers-F">Strongly Agree</label>

                          </li>

                          <li>

                              <h3>Observes the proper channels and procedures in communicating concerns with administrators.</h3>

                                  <input type="radio" required <?php if($admin_responsibilities[8] == 1) {echo "checked";}?>   name="answers[8]" id="question-9-answers-A" value="1" />
                                  <label class="qst-lbl" for="question-9-answers-A">Never</label>



                                  <input type="radio" required <?php if($admin_responsibilities[8] == 2) {echo "checked";}?>  name="answers[8]" id="question-9-answers-B" value="2" />
                                  <label class="qst-lbl" for="question-9-answers-B">Strongly Disagree</label>



                                  <input type="radio" required <?php if($admin_responsibilities[8] == 3) {echo "checked";}?>  name="answers[8]" id="question-9-answers-C" value="3" />
                                  <label class="qst-lbl" for="question-9-answers-C">Disagree</label>



                                  <input type="radio" required <?php if($admin_responsibilities[8] == 4) {echo "checked";}?>  name="answers[8]" id="question-9-answers-D" value="4" />
                                  <label class="qst-lbl" for="question-9-answers-D">Neutral</label>



                                  <input type="radio" required <?php if($admin_responsibilities[8] == 5) {echo "checked";}?>  name="answers[8]" id="question-9-answers-E" value="5" />
                                  <label class="qst-lbl" for="question-9-answers-E">Agree</label>



                                  <input type="radio" required <?php if($admin_responsibilities[8] == 6) {echo "checked";}?>  name="answers[8]" id="question-9-answers-F" value="6" />
                                  <label class="qst-lbl" for="question-9-answers-F">Strongly Agree</label>


                          </li>

                          <li>

                              <h3>Supports and implements legitimate policies and directives emanating from school administrators.</h3>

                                  <input type="radio" required <?php if($admin_responsibilities[9] == 1) {echo "checked";}?>   name="answers[9]" id="question-10-answers-A" value="1" />
                                  <label class="qst-lbl" for="question-10-answers-A">Never</label>



                                  <input type="radio" required <?php if($admin_responsibilities[9] == 2) {echo "checked";}?>  name="answers[9]" id="question-10-answers-B" value="2" />
                                  <label class="qst-lbl" for="question-10-answers-B">Strongly Disagree</label>



                                  <input type="radio" required <?php if($admin_responsibilities[9] == 3) {echo "checked";}?>  name="answers[9]" id="question-10-answers-C" value="3" />
                                  <label class="qst-lbl" for="question-10-answers-C">Disagree</label>



                                  <input type="radio" required <?php if($admin_responsibilities[9] == 4) {echo "checked";}?>  name="answers[9]" id="question-10-answers-D" value="4" />
                                  <label class="qst-lbl" for="question-10-answers-D">Neutral</label>



                                  <input type="radio" required <?php if($admin_responsibilities[9] == 5) {echo "checked";}?>  name="answers[9]" id="question-10-answers-E" value="5" />
                                  <label class="qst-lbl" for="question-10-answers-E">Agree</label>



                                  <input type="radio" required <?php if($admin_responsibilities[9] == 6) {echo "checked";}?>  name="answers[9]" id="question-10-answers-F" value="6" />
                                  <label class="qst-lbl" for="question-10-answers-F">Strongly Agree</label>


                          </li>

                          
                       </ol>

                       <ul class="pager" style="height:50px;">
                        
                        <li><a href="<?php echo base_url(); ?>evaluation/start?type=<?php echo $type; ?>&uid=<?php echo $uid ?>&step=2">Previous</a></li>
                      
                          <input type="submit" name="next" value="Next" class="nxtOpStyle" />
                      </ul>
        </form>

        </div><!--ends form-holder-->
