<div class="col-lg-6 mb-lg-st">
<div class="admin-welcome-page">
     <div class="student-welcome-page">
    <div class="helper-ver">
        <div class="st-wel-content">
           
            <h2>FACULTY EVALUATION SYSTEM</h2>
            <p>A Thesis in 2016</p>
            <P>Please fill up the form below</P>
        <form method="post" action="<?php echo base_url() ?>evaluation/process">
        <input type="hidden" name="uid" value="<?php echo $uid ?>" >
            <input type="hidden" name="currentStep" value="1" >
            <div class="selector">
            <select name="faculty" class="ch-fc-st require_one">
              <option value="0" selected>Choose Faculty</option>
              <?php foreach($faculties as $faculty): ?>

                            <?php if($faculty->id == $facultyId): ?>
                                <option selected value="<?php echo $faculty->id; ?>"><?php echo $faculty->firstName ?> <?php echo $faculty->lastName?></option>
                            <?php else:  ?>
                                <option value="<?php echo $faculty->id; ?>"><?php echo $faculty->firstName ?> <?php echo $faculty->lastName?></option>
                            <?php endif; ?>
                        <?php endforeach; ?>
            </select>
            <br><br>
            <input type="date" onkeydown="return false" name="date" value="<?php if($date){echo $date; }else{ echo date('Y-m-d'); }?>" class="date-stud-fr"/>
            <br><br>
            <div class="selector">
            <input type="submit" value="Proceed" id="submit" class="sub-stud-code btn">
            </div>
            </div>
        </form>
        </div>
        
      <div class="con-fo">
        <h2>&copy;Faculty Evaluation 2016</h2>  
      </div>
    
    </div><!--ends helper-ver-->
 
</div><!--ends student-welcome-page-->

</div>

</div>

<script type="text/javascript">


var $submitButton=$('.selector .btn');
var $selectors=$('.selector select.require_one');
$submitButton.attr('disabled','disabled');

$('.selector select.require_one').change(function(){
  var $empty=$selectors.filter(function() { return this.value == ""; });
   console.log("val %o    empty len %o",$(this).val(),$empty.length);
    if ( $selectors.filter(function() { return this.value == ""; }).length == $selectors.length ){
         $submitButton.attr('disabled','disabled');        
    } else
    {
        $submitButton.attr('disabled','');
    }
});

$('#submit').click(function() {
   
});
</script>