

<form role="form" method="post" action="">
 

    
<div class="add-frm-hl">
    <p>Add Section</p>

    <div class="inp-ne-pd">
    <input type="text" class="add-fr-nw" id="name" name="name" placeholder="Section" >

    <input type="text" class="add-fr-nw" id="description" name="description" placeholder="Description" >

    <div class="nw-btn-sb">
      <input type="submit" class="add-bt"  value="Submit"/>
    </div>

    <div class="cn-btn-1">
            <a href="<?php echo base_url() ?>section"> Cancel</a>
    </div>

    <?php if($anyMessage): ?>

      <h5><?php echo $anyMessage ?></h5>

<?php endif; ?>
</div>

    <div class="clearFixed"></div>  


</div>

</form>

