


<form role="form" method="post" action="">

    <h1>Add Section</h1>
<div class="add-frm-hl">
    <input type="text" class="form-control" id="name" name="name" placeholder="Section">

    <input type="text" class="form-control" id="description" name="description" placeholder="Description">

    <div class="sb-btn-l">

      <input type="submit"  value="Submit"></input>
      
    </div>

    <div class="cn-btn-1">
            <a href="<?php echo base_url() ?>section"> Cancel</a>
    </div>


    <div class="clearFixed"></div>  
<?php if($anyMessage): ?>

      <p><?php echo $anyMessage ?></p>

<?php endif; ?>
</div>
</form>