

<div class="admin-welcome-page">
    <div class="helper-ver">
        <div class="st-wel-admin">
           <div class="ad-frm-con">
           		<h4>List Of section </h4>
           		<h5><a href="<?php echo base_url() ?>section/add">+ Add a section</a></h5>
				
				<div style="overflow-x: auto;">
					<table>
					  <tr>
						<th>#</th>
						<th>Name</th>
						<th>Description</th>
						<th>Option</th>
					  </tr>

					<?php $counter = 1 ?>
					<?php foreach($sections as $section): ?>
					<tr>
					<td><?php echo $counter ?></td>
					<td><?php echo $section->name; ?></td>
					<td><?php echo $section->description; ?></td>
					
					<td><a href="<?php echo base_url() ?>section/edit?id=<?php echo $section->id ?>">Edit</a>- <a href="<?php echo base_url() ?>section/delete?id=<?php echo $section->id ?>">Delete</a></td>
					
					<?php $counter++; ?>
				</tr>
				<?php endforeach; ?>

				
				
					</table>
			   </div>
           </div>
        </div>
        
        <div class="con-fo">
    	<h2>&copy;Faculty Evaluation 2016</h2>	
   	  </div>
    </div>
</div><!--ends student-welcome-page-->