	<section> <!--for demo wrap-->


<div class="col-3-mx">
<div class="search-inp-h-ri-gen">
	

	<!--<input type="button" name="" placeholder="Search Code">--><a href="<?php echo base_url() ?>section/add"><img src="public/images/add-icon.png"></a></div>
</div>

<div class="col-3-mx">	
<h1> List of Sections</h1>  
</div>

<div class="col-3-mx">
<div class="search-inp-h">
<form class="searchbox" role="form" action="<?php echo base_url().'section/search_section'; ?>" method="post">
        <input type="search" placeholder="Search by name......" name="search" id="search" class="searchbox-input" onkeyup="buttonUp();" required>
        <input type="submit" class="searchbox-submit" >
        <span class="searchbox-icon"><img src="public/images/search-icon.png"></span>
    </form>
</div>
</div>
	<div  class="tbl-header">
	<table cellpadding="0" cellspacing="0" border="0">
	  <thead>
						  <tr>
							<th>#</th>
							<th>Name</th>
							<!--<th>Description</th>-->
							<th>Option</th>
						  </tr>
	  </thead>
	</table>
	</div>
	<div  class="tbl-content">
	<table cellpadding="0" cellspacing="0" border="0">
	  <tbody>

						<?php $counter = 1 ?>
						<?php foreach($sections as $section): ?>
						<tr>
						<td><?php echo $counter ?></td>
						<td><?php echo $section->name; ?></td>
						<!--<td><?php echo $section->description; ?></td>-->
						
						<td><a href="<?php echo base_url() ?>section/edit?id=<?php echo $section->id ?>">Edit</a>- <a href="<?php echo base_url() ?>section/delete?id=<?php echo $section->id ?>">Delete</a></td>
						
						<?php $counter++; ?>
					</tr>
					<?php endforeach; ?>

	  </tbody>
	</table>
	</div>
	</section>



<script type="text/javascript">
	  $(document).ready(function(){
            var submitIcon = $('.searchbox-icon');
            var inputBox = $('.searchbox-input');
            var searchBox = $('.searchbox');
            var isOpen = false;
            submitIcon.click(function(){
                if(isOpen == false){
                    searchBox.addClass('searchbox-open');
                    inputBox.focus();
                    isOpen = true;
                } else {
                    searchBox.removeClass('searchbox-open');
                    inputBox.focusout();
                    isOpen = false;
                }
            });  
             submitIcon.mouseup(function(){
                    return false;
                });
            searchBox.mouseup(function(){
                    return false;
                });
            $(document).mouseup(function(){
                    if(isOpen == true){
                        $('.searchbox-icon').css('display','block');
                        submitIcon.click();
                    }
                });
        });
            function buttonUp(){
                var inputVal = $('.searchbox-input').val();
                inputVal = $.trim(inputVal).length;
                if( inputVal !== 0){
                    $('.searchbox-icon').css('display','none');
                } else {
                    $('.searchbox-input').val('');
                    $('.searchbox-icon').css('display','block');
                }
            }
</script>