

<section> <!--for demo wrap-->

<div class="col-3-mx">
<div class="search-inp-h-ri-gen">
	
	<!--<input type="button" name="" placeholder="Search Code">--><a href="<?php echo base_url() ?>course/add"><img src="public/images/add-icon.png"></a>
</div>
</div>

<div class="col-3-mx">	
<h1> List of Courses</h1>  
</div>

<div class="col-3-mx">
<div class="search-inp-h">
	<!--<input type="text" name="" placeholder="Search Code">--><img src="public/images/search-icon.png">
</div>
</div>
<div  class="tbl-header">
<table cellpadding="0" cellspacing="0" border="0">
  <thead>
					  <tr>
						<th>#</th>
						<th>Name</th>
						<th>Description</th>
						<th>Option</th>
					  </tr>
  </thead>
</table>
</div>
<div  class="tbl-content">
<table cellpadding="0" cellspacing="0" border="0">
  <tbody>

					<?php $counter = 1 ?>
					<?php foreach($course as $cours): ?>
					<tr>
					<td><?php echo $counter ?></td>
					<td><?php echo $cours->name; ?></td>
					<td><?php echo $cours->description; ?></td>
					
					<td><a href="<?php echo base_url() ?>cours/edit?id=<?php echo $cours->id ?>">Edit</a>- <a href="<?php echo base_url() ?>cours/delete?id=<?php echo $cours->id ?>">Delete</a></td>
					
					<?php $counter++; ?>
				</tr>
				<?php endforeach; ?>

  </tbody>
</table>
</div>
</section>
