

<div class="admin-welcome-page">
    <div class="helper-ver">
        <div class="st-wel-admin">
           <div class="ad-frm-con">
           		<h4>List Of course </h4>
           		<h5><a href="<?php echo base_url() ?>course/add">+ Add a course</a></h5>
				<form role="form" action="<?php echo base_url().'course/search_course'; ?>" method="post">
					<div class="form-group">
						<input type="text" class="form-contorl" name="search" id="search" placeholder="Search by firstName ">
					</div>


					<button type="submit" class="btn btn-info" name="submit">Search</button>
				</form>
				<div style="overflow-x: auto;">
					<table>
					  <tr>
						<th>#</th>
						<th>Name</th>
						<th>Description</th>
						<th>Option</th>
					  </tr>

					<?php $counter = 1 ?>
					<?php foreach($course as $cours): ?>
					<tr>
					<td><?php echo $counter ?></td>
					<td><?php echo $cours->name; ?></td>
					<td><?php echo $cours->description; ?></td>
					
					<td><a href="<?php echo base_url() ?>course/edit?id=<?php echo $cours->id ?>">Edit</a>- <a href="<?php echo base_url() ?>course/delete?id=<?php echo $cours->id ?>">Delete</a></td>
					
					<?php $counter++; ?>
				</tr>
				<?php endforeach; ?>

				
				
					</table>
			   </div>
           </div>
        </div>
        
        <div class="con-fo">
    	<h2>&copy;Faculty Evaluation 2016</h2>	
   	  </div>
    </div>
</div><!--ends student-welcome-page-->