<?php if($successMessage): ?>

  <div class="alert alert-success">
  
     
      <p><?php echo $successMessage ?></p>

  
</div>

<?php endif; ?>


<form role="form" method="post" action="">


    <h1>Edit Subject</h1>
<div class="add-frm-hl">
    <input type="text" class="form-control" id="name" name="name"  value="<?php echo $subject->name?>" placeholder="Subject" required>

    <input type="text" class="form-control" id="description"   value="<?php echo $subject->description?>" name="description" placeholder="Description" required>

    <div class="sb-btn-l">

      <input type="submit"  value="Submit"></input>
      
    </div>

    <div class="cn-btn-1">
            <a href="<?php echo base_url() ?>subject"> Cancel</a>
    </div>


    <div class="clearFixed"></div>  

</div>

  
</form>