




<form role="form" method="post" action="">
 

    
<div class="add-frm-hl">
    <p>Add Subject</p>

    <div class="inp-ne-pd">
    <input type="text" class="add-fr-nw" id="name" name="name" placeholder="Subject" value="<?php echo $subject->name?>">

    <input type="text" class="add-fr-nw" id="description" name="description" placeholder="Description" value="<?php echo $subject->description?>" >

    <div class="nw-btn-sb">
      <input type="submit" class="add-bt"  value="Submit"/>
    </div>

    <div class="cn-btn-1">
            <a href="<?php echo base_url() ?>subject"> Cancel</a>
    </div>

    <?php if($successMessage): ?>

  
     
      <h5><?php echo $successMessage ?></h5>

  

<?php endif; ?>
</div>

    <div class="clearFixed"></div>  


</div>

</form>
