<?php if($successMessage): ?>

  <div class="alert alert-success">
  
     
      <p><?php echo $successMessage ?></p>

  
</div>

<?php endif; ?>


<form role="form" method="post" action="">
  <div class="form-group">
    <label for="firstnameinput">First Name</label>
    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name">
  </div>
  <div class="form-group">
    <label for="middlenameinput">Middle Name</label>
    <input type="text" class="form-control" id="middleName" name="middleName" placeholder="Middle Name">
  </div>
  <div class="form-group">
    <label for="lastname">Last Name</label>
    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name">
  </div>


<div class="ch-handle-holder">

    <h1>Semester</h1>
    <div class="ch-handle-ck-hl">
        <label for="">1st Semester</label>
        <input type="checkbox" name="">
    </div>

    <div class="ch-handle-ck-hl">
        <label for="">2nd Semester</label>
        <input type="checkbox" name="">
    </div>

</div><!--ends ch-handle-holder-->
  
<div class="ch-handle-holder">

    <h1>Subjects' Handled</h1>
    <div class="ch-handle-ck-hl">
        <label for="">Test Subject 1</label>
        <input type="checkbox" name="">
    </div>

    <div class="ch-handle-ck-hl">
        <label for="">Test Subject 2</label>
        <input type="checkbox" name="">
    </div>

    <div class="ch-handle-ck-hl">
        <label for="">Test Subject 3</label>
        <input type="checkbox" name="">
    </div>

    <div class="ch-handle-ck-hl">
        <label for="">Test Subject 4</label>
        <input type="checkbox" name="">
    </div>
</div><!--ends ch-handle-holder-->


<div class="ch-handle-holder">

    <h1>Courses' Handled</h1>
    <div class="ch-handle-ck-hl">
        <label for="">Test course 1</label>
        <input type="checkbox" name="">
    </div>

    <div class="ch-handle-ck-hl">
        <label for="">Test course 2</label>
        <input type="checkbox" name="">
    </div>

    <div class="ch-handle-ck-hl">
        <label for="">Test course 3</label>
        <input type="checkbox" name="">
    </div>

    <div class="ch-handle-ck-hl">
        <label for="">Test course 4</label>
        <input type="checkbox" name="">
    </div>
</div><!--ends ch-handle-holder-->


<div class="ch-handle-holder">

    <h1>Section' Handled</h1>
    <div class="ch-handle-ck-hl">
        <label for="">Test Section 1</label>
        <input type="checkbox" name="">
    </div>

    <div class="ch-handle-ck-hl">
        <label for="">Test Section 2</label>
        <input type="checkbox" name="">
    </div>

    <div class="ch-handle-ck-hl">
        <label for="">Test Section 3</label>
        <input type="checkbox" name="">
    </div>

    <div class="ch-handle-ck-hl">
        <label for="">Test Section 4</label>
        <input type="checkbox" name="">
    </div>
</div><!--ends ch-handle-holder-->

  <input type="submit" class="btn btn-default" value="Submit"></input>
</form>