<?php if($anyMessage): ?>

  <div class="alert alert-success">


      <p><?php echo $anyMessage ?></p>


</div>

<?php endif; ?>


<form role="form" method="post" action="">
    <h1>Add Faculty</h1>
<div class="add-frm-hl">
    <p>Personal Details</p>
    <input type="text" class="ad-fc-nw" id="firstName" name="firstName" placeholder="First Name" required>

    <input type="text" class="ad-fc-nw" id="middleName" name="middleName" placeholder="Middle Name" required>


    <input type="text" class="ad-fc-nw" id="lastName" name="lastName" placeholder="Last Name" required>

<div class="ch-handle-holder">

    <p>Semester</p>
    <div class="ch-handle-ck-hl">
        <label for="">1st Semester</label>
        <input type="radio" <?php if($postparams && isset($postparams['semesters']) && $postparams['semesters'][0] == 1){ echo "checked";} ?> name="semesters[]" value="1">
    </div>

    <div class="ch-handle-ck-hl">
        <label for="">2nd Semester</label>
        <input type="radio" <?php if($postparams && isset($postparams['semesters']) && $postparams['semesters'][0] == 2) {echo "checked";} ?> name="semesters[]" value="2">
    </div>

</div><!--ends ch-handle-holder-->

<div class="ch-handle-holder">

    <p>Subjects' Handled</p>
    <?php foreach($subjects as $subject): ?>
    <div class="ch-handle-ck-hl">
        <label for=""><?= $subject->name?></label>
        <input type="checkbox" <?php if($postparams && isset($postparams['subjects']) && in_array($subject->id,$postparams['subjects'])) {echo "checked";} ?> name="subjects[]" value="<?= $subject->id ?>">
    </div>
  <?php endforeach; ?>
</div><!--ends ch-handle-holder-->
    




<div class="ch-handle-holder">

    <p>Courses' Handled</p>
    <?php foreach($courses as $course): ?>
    <div class="ch-handle-ck-hl">
        <label for=""><?= $course->name ?></label>
        <input type="checkbox" <?php if($postparams && isset($postparams['courses']) && in_array($course->id,$postparams['courses'])) {echo "checked";} ?> name="courses[]" value="<?= $course->id ?>">
    </div>
  <?php endforeach; ?>
</div><!--ends ch-handle-holder-->


<div class="ch-handle-holder">

    <p>Section' Handled</p>
    <?php foreach($sections as $section): ?>
    <div class="ch-handle-ck-hl">
        <label for=""><?=$section->name ?></label>
        <input type="checkbox" <?php if($postparams && isset($postparams['sections']) && in_array($section->id,$postparams['sections'])){echo "checked";} ?> name="sections[]" value="<?= $section->id ?>">
    </div>
  <?php endforeach; ?>
</div><!--ends ch-handle-holder-->
<div class="sb-btn-l">

    
      <input type="submit" class="btn add-bt" value="Submit"></input>
   
    </div>
    <div class="cn-btn-1">
            <a href="<?php echo base_url() ?>Faculty"> Cancel</a>
    </div>


    <div class="clearFixed"></div>  

</div>

</form>
