<?php if($successMessage): ?>

  <div class="alert alert-success">


      <p><?php echo $successMessage ?></p>


</div>

<?php endif; ?>


<form role="form" method="post" action="">
  <div class="form-group">
    <label for="firstnameinput">First Name</label>
    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name">
  </div>
  <div class="form-group">
    <label for="middlenameinput">Middle Name</label>
    <input type="text" class="form-control" id="middleName" name="middleName" placeholder="Middle Name">
  </div>
  <div class="form-group">
    <label for="lastname">Last Name</label>
    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name">
  </div>


<div class="ch-handle-holder">

    <h1>Semester</h1>
    <div class="ch-handle-ck-hl">
        <label for="">1st Semester</label>
        <input type="radio" name="semesters[]" value="1">
    </div>

    <div class="ch-handle-ck-hl">
        <label for="">2nd Semester</label>
        <input type="radio" name="semesters[]" value="2">
    </div>

</div><!--ends ch-handle-holder-->

<div class="ch-handle-holder">

    <h1>Subjects' Handled</h1>
    <?php foreach($subjects as $subject): ?>
    <div class="ch-handle-ck-hl">
        <label for=""><?= $subject->name?></label>
        <input type="checkbox" name="subjects[]" value="<?= $subject->id ?>">
    </div>
  <?php endforeach; ?>
</div><!--ends ch-handle-holder-->


<div class="ch-handle-holder">

    <h1>Courses' Handled</h1>
    <?php foreach($courses as $course): ?>
    <div class="ch-handle-ck-hl">
        <label for=""><?= $course->name ?></label>
        <input type="checkbox" name="courses[]" value="<?= $course->id ?>">
    </div>
  <?php endforeach; ?>
</div><!--ends ch-handle-holder-->


<div class="ch-handle-holder">

    <h1>Section' Handled</h1>
    <?php foreach($sections as $section): ?>
    <div class="ch-handle-ck-hl">
        <label for=""><?=$section->name ?></label>
        <input type="checkbox" name="sections[]" value="<?= $section->id ?>">
    </div>
  <?php endforeach; ?>
</div><!--ends ch-handle-holder-->

  <input type="submit" class="btn btn-default" value="Submit"></input>
</form>
