<page size="A4">
		<div class="date-iss">
			<p>Date issued : November 20, 2016</p>
		</div>

		<div class="prnt-title">
			<h1>STI-College Dipolog <br> <span>Faculty Evaluation</span></h1>
		</div>
		

		<div class="prof-info">
			<div class="title-hd-prof">
				<h1>Faculty Details</h1>				
			</div>
			
			<div class="details-hd-prof">
				<p>Name: <?php  echo $faculty->firstName?> <?php echo $faculty->middleName?> <?php echo $faculty->lastName?> </p>
			</div>

			<div class="details-hd-prof details-even-div">
				<p>Semester: <?php foreach($faculty->semester as $semester): ?>

				<?=$semester->name; ?>st Semester,

			<?php endforeach; ?></p>
			</div>

			<div class="details-hd-prof">
				<p>Subject Handled:
				<?php foreach($faculty->subjects as $subject): ?>

				<?= $subject->name; ?>,

			<?php endforeach; ?> </p>
			</div>


			<div class="details-hd-prof details-even-div">
				<p>Section: 
				<?php foreach($faculty->sections as $section): ?>

					<?= $section->name; ?>,

				<?php endforeach; ?>
				</p>
			</div>
			
			<div class="rating-guide-hl">
			<div class="hd-rt">
				<h1>Rating Guide:</h1>
			</div>

			<div class="rt-bdy">
				<div class="rt-bdy-left">
					<p>(6) Always/Almost Always = 91% to 100% of the time</p>
					<p>(5) Most of the Time = 76% to 90% of the time</p>
					<p>(4) Often = 51% to 75% of the time</p>
				</div>

				<div class="rt-bdy-right">
					<p>(3) Sometimes = 26% to 50% of the time</p>
					<p>(2) Seldome = 11% to 25% of the time</p>
					<p>(1) Never/Almost Never = 0% to 10% of the time</p>
				</div>
			</div>

			<div class="clearFixed"></div>
			<div class="de-div">
		<h5>Faculty Itself Evaluation Result :</h5>
		<a href="" data-toggle="modal" data-target="#myModal<?php echo $faculty->id?>">
		View Results
		</a>
		<!-- Modal -->
						<div class="modal fade bs-example-modalb-lg" id="myModal<?php echo $faculty->id ?>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

						  <div class="modal-dialog modal-lg" style="width:1300px;">
						    <div class="modal-content" style="color:#000;">

						    <div class="col-md-6">



							     <div class="table-responsive" style="border:1px solid #cccccc;border-radius:5px; padding:15px; background:#fff; ">
									  <table class="table">
									  <h3>PROFESSIONAL RESPONSIBILITIES</h3>

										<tr style="background:#428bca;">
											<th>Qeustion #</th>
											<th>Never</th>
											<th>Strongly Disagree</th>
											<th>Disagree</th>
											<th>Neutral</th>
											<th>Agree</th>
											<th>Strongly Agree</th>
											<th>Total</th>
										</tr>
										<?php $counter = 1; ?>
										<?php $profTotal = 0; ?>
										<?php $profTotalStudent =0; ?>
										<?php $profTotalAcad =0; ?>

										<?php foreach($faculty->profAnswersStudent as $profAnswerStudent): ?>
											<?php $profTotalStudent += array_sum($profAnswerStudent); ?>
										<?php endforeach; ?>

										<?php foreach($faculty->profAnswersAcad as $profAnswerAcad): ?>
											<?php $profTotalAcad += array_sum($profAnswerAcad); ?>
										<?php endforeach; ?>

										<?php foreach($faculty->profAnswers as $profAnswer): ?>
										<tr>
											<td><?php echo $counter; ?></td>

											<td style="color:#333"><?php echo $profAnswer[0]; ?></td>
											<td style="color:#333"><?php echo $profAnswer[1]; ?></td>
											<td style="color:#333"><?php echo $profAnswer[2]; ?></td>
											<td style="color:#333"><?php echo $profAnswer[3]; ?></td>
											<td style="color:#333"><?php echo $profAnswer[4]; ?></td>
											<td style="color:#333"><?php echo $profAnswer[5]; ?></td>
											<?php $profTotal+= array_sum($profAnswer); ?>
											<td style="color:#333"><?php echo array_sum($profAnswer); ?></td>
											<?php $counter++; ?>

										</tr>
										<?php endforeach; ?>
										<tr style="background:#428bca;">
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td>Total</td>
											<th><?php echo $profTotal; ?></th>
										</tr>
									  </table>
								<div>Total/Items <br> Overall Rate: <?php echo $profTotal ?>/9 = <?php echo $profTotal/9; ?></div>

								</div> <!--ends table-responsive-->



						    </div><!--ends col-md-6-->

						     <div class="col-md-6">



							     <div class="table-responsive" style="border:1px solid #cccccc;border-radius:5px; padding:15px; background:#fff; ">
									  <table class="table">
									  <h3>ADMINISTRATIVE RESPONSIBILITIES</h3>

										<tr style="background:#428bca;">
											<th>Qeustion #</th>
											<th>Never</th>
											<th>Strongly Disagree</th>
											<th>Disagree</th>
											<th>Neutral</th>
											<th>Agree</th>
											<th>Strongly Agree</th>
											<th>Total</th>
										</tr>
										<?php $counter = 1; ?>
										<?php $adminTotal = 0; ?>
										<?php $adminTotalStudent =0; ?>
										<?php $adminTotalAcad =0; ?>

										<?php foreach($faculty->adminiAnswersStudent as $adminiAnswerStudent): ?>
											<?php $adminTotalStudent += array_sum($adminiAnswerStudent); ?>
										<?php endforeach; ?>

										<?php foreach($faculty->adminiAnswersAcad as $adminiAnswerAcad): ?>
											<?php $adminTotalAcad += array_sum($adminiAnswerAcad); ?>
										<?php endforeach; ?>

										<?php foreach($faculty->adminiAnswers as $adminiAnswer): ?>
										<tr>
											<td><?php echo $counter; ?></td>

											<td style="color:#333"><?php echo $adminiAnswer[0]; ?></td>
											<td style="color:#333"><?php echo $adminiAnswer[1]; ?></td>
											<td style="color:#333"><?php echo $adminiAnswer[2]; ?></td>
											<td style="color:#333"><?php echo $adminiAnswer[3]; ?></td>
											<td style="color:#333"><?php echo $adminiAnswer[4]; ?></td>
											<td style="color:#333"><?php echo $adminiAnswer[5]; ?></td>
											<?php $adminTotal+= array_sum($adminiAnswer); ?>
											<td style="color:#333"><?php echo array_sum($adminiAnswer); ?></td>
											<?php $counter++; ?>

										</tr>
										<?php endforeach; ?>
										<tr style="background:#428bca;">
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td>Total</td>
											<th><?php echo $adminTotal; ?></th>
										</tr>
									  </table>
								<div>Total/Items <br> Overall Rate: <?php echo $adminTotal ?>/9 = <?php echo $adminTotal/9; ?></div>

								</div> <!--ends table-responsive-->


						      </div>

						    </div><!--ends col-md-6-->

						    <div class="col-md-6">


						      <div class="modal-body" style="color:#000;">


								  </div>
						      	<div class="table-responsive" style="border:1px solid #cccccc;border-radius:5px; padding:15px;color:#000; background: #fff; ">
									  <table class="table">
									  <h3>INSTRUCTIONAL RESPONSIBILITIES</h3>

									  <tr style="background:#428bca;">

											<th>Qeustion #</th>
											<th>Never</th>
											<th>Strongly Disagree</th>
											<th>Disagree</th>
											<th>Neutral</th>
											<th>Agree</th>
											<th>Strongly Agree</th>
											<th>Total</th>
										</tr>
										<?php $counter = 1; ?>
										<?php $instructTotal = 0; ?>
										<?php $instructTotalStudent = 0; ?>
										<?php $instructTotalAcad = 0; ?>

										<?php foreach($faculty->instructAnswersStudent as $instructAnswerStudent): ?>
												<?php $instructTotalStudent += array_sum($instructAnswerStudent); ?>
										<?php endforeach; ?>

										<?php foreach($faculty->instructAnswersAcad as $instructAnswerAcad): ?>
												<?php $instructTotalAcad += array_sum($instructAnswerAcad); ?>
										<?php endforeach; ?>

										<?php foreach($faculty->instructAnswers as $instructAnswer): ?>
										<tr>
											<td style="color:#333"><?php echo $counter; ?></td>
											<td style="color:#333"> <?php echo $instructAnswer[0]; ?></td>
											<td style="color:#333"><?php echo $instructAnswer[1]; ?></td>
											<td style="color:#333"><?php echo $instructAnswer[2]; ?></td>
											<td style="color:#333"><?php echo $instructAnswer[3]; ?></td>
											<td style="color:#333"><?php echo $instructAnswer[4]; ?></td>
											<td style="color:#333"><?php echo $instructAnswer[5]; ?></td>
											<?php $instructTotal+= array_sum($instructAnswer); ?>
											<td style="color:#333"><?php echo array_sum($instructAnswer); ?></td>
											<?php $counter++; ?>

										</tr>
										<?php endforeach; ?>
										<tr style="background:#428bca;">
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>

											<td>Total</td>
											<th><?php echo $instructTotal; ?></th>
										</tr>



						      </div>

									  </table>
							<div>Total/Items <br> Overall Rate: <?php echo $instructTotal ?>/28 =<?php echo $instructTotal/28; ?></div>
								</div> <!--ends table-responsive-->


						    </div><!--ends col-md-6-->
						    </div>
						 
	</div>

		</div>

			<div class="title-hd-prof">
				<h1>Faculty Itself Evaluation Result</h1>				
			</div>
			

			<?php

				$profTotalItself = round($profTotal/9,2);
				$profTotalItselfPercentage = ComputePercentage($profTotalItself);


			?>


			<div class="ovr-rslt-hl">
				<div class="ovr-rslt-div">
					<p>Proffesional Responsibilities</p>
					<span><?= $profTotalItself ?></span>
					
					<div class="rank-rslt">
						<h5>Rating</h5>
						<p><?= PercentageToString($profTotalItselfPercentage) ?> with the percentage of <?= $profTotalItselfPercentage?>%</p>
					</div>

				</div>

				<div class="ovr-rslt-div">
					<p>Administrative Responsibilities</p>
					<span><?= round($adminTotal/10,2) ?></span>

					<div class="rank-rslt">
						<h5>Rating</h5>
						<p>Most of the Time with the percentage of 90%</p>
					</div>
				</div>

				<div class="ovr-rslt-div dsbl-br">
					<p>Instructional Responsibilities</p>
					<span><?= round($adminTotal/28,2) ?></span>

					<div class="rank-rslt">
						<h5>Rating</h5>
						<p>Most of the Time with the percentage of 90%</p>
					</div>
				</div>
			
			<div class="clearFixed"></div>
			</div>

<?php 

        	$overAllEvaluator = $faculty->totalEvaluator ;

        	if($profTotal > 0 && $adminTotal > 0 && $instructTotal > 0){
        		$overAllEvaluator +=1;	
        	}

        	$overAllEvaluator += $faculty->totalEvaluatorAcad;

        ?>
    


			<div class="ovr-rslt-vw">
				<a data-toggle="modal" data-target="#myModal<?php echo $faculty->id?>">View All Result</a>
			</div>

			<div class="ovll-rslt-div">
				<div class="ovll-rslt-con">
					<h1>Overall Result</h1>
				</div>
				<?php 

						$profTotalOverall = round((($profTotal+$profTotalStudent+$profTotalAcad)/9)/$overAllEvaluator,2);
						$adminTotalOverall = round((($adminTotal+$adminTotalStudent+$adminTotalAcad)/10)/$overAllEvaluator,2);
						$instructTotalOverall = round((($instructTotal + $instructTotalStudent + $instructTotalAcad)/28)/$overAllEvaluator,2);

						$profPercentage = ComputePercentage($profTotalOverall);
						$adminPercentage = ComputePercentage($adminTotalOverall);
						$instructPercentage= ComputePercentage($instructTotalOverall);

				?>

				<?php 

	function ComputePercentage($decimal){


		return round(100 - (((6-$decimal) / 6) * 100),2) ;


	}
	function PercentageToString($percentage){


		$str= '';


		switch(true){

			case $percentage > 90:
				$str='Always/Almost Always';

				break;

			case $percentage > 75:

				$str = 'Most of the Time';

				break;

			case $percentage > 50:

				$str = 'Often';

				break;

			case $percentage > 25:

				$str = 'Sometimes';

				break;

			case $percentage > 10:

				$str = 'Seldome';

				break;

			default:

				$str = 'Never/Almost Never ';
				break;

		}


		return $str;

	}

?>
				<div class="ovr-rslt-divi">
					<p>Professional Responsibilites : <?= $profTotalOverall ?> with the percentage of <?= $profPercentage ?>% = <?= PercentageToString($profPercentage)?></p>
				</div>

				<div class="ovr-rslt-divi">
					<p>Administrative Responsibilites :  <?= $adminTotalOverall ?> with the percentage of <?= $adminPercentage ?>% = <?= PercentageToString($adminPercentage) ?></p>
				</div>

				<div class="ovr-rslt-divi">
					<p>Instructional Responsibilites :  <?= $instructTotalOverall ?> with the percentage of <?= $instructPercentage  ?>% = <?= PercentageToString($instructPercentage) ?></p>
				</div>

			</div>

			<div class="print-btn-ovrl">
				<a target="_blank" href="<?php echo base_url() . "faculty/printd/$faculty->id" ?>" >Print All Details</a>
			</div>
		</div>


		
</page>





<div class="fc-pr-con">

	<div class="de-div">
		<h5>Name of Faculty Member :</h5> <p><?php  echo $faculty->firstName?> <?php echo $faculty->middleName?> <?php echo $faculty->lastName?></p>		
	</div>
	
	<div class="de-div">
		<h5>Semester :</h5> 
		<p>
			<?php foreach($faculty->semester as $semester): ?>

				<?=$semester->name; ?>st Semester,

			<?php endforeach; ?>
		</p>			
	</div>

	<div class="de-div">
		<h5>Subject Handled :</h5> 
		<p>
			<?php foreach($faculty->subjects as $subject): ?>

				<?= $subject->name; ?>,

			<?php endforeach; ?>
		</p>		
	</div>

	<div class="de-div">
		<h5>Section Handled :</h5> 
		<p>
			<?php foreach($faculty->sections as $section): ?>

				<?= $section->name; ?>,

			<?php endforeach; ?>
		</p>		
	</div>

	
	
</div><div class="de-div">
		 
	
	
	</div>


<div class="pr-inp">
    <a target="_blank" href="<?php echo base_url() . "faculty/printd/$faculty->id" ?>" >Print All Details</a>
</div>

<div class="row">
	<div class="col-md-4">
		
	
	</div><!--ends col-md-6-->

	<div class=" prf-st-n">

		<ul class="nav nav-tabs" style="margin-bottom: 15px;">
		  <li style="width: 49%;" class="active"><a href="#Profile" data-toggle="tab">Profile</a></li>
		  <li class=""><a href="<?php echo base_url()?>faculty/schedule/<?php echo $faculty->firstName . '.'  . $faculty->id ?>">Schedule</a></li>
		</ul>

<div id="myTabContent" class="tab-content">


<!--Profile content-->

  <div class="tab-pane fade active in prof-cs" id="Profile">

    




 </div> <!--ends tab-pane-->



</div>
	</div><!--ends col-md-6-->
</div>
