

<section> <!--for demo wrap-->

<div class="col-3-mx">
<div class="search-inp-h-ri-gen">
	

	<!--<input type="button" name="" placeholder="Search Code">--><a href="<?php echo base_url() ?>faculty/add"><img src="public/images/add-icon.png"></a></div>
</div>

<div class="col-3-mx">	
<h1> List of faculties</h1>  
</div>

<div class="col-3-mx">
<div class="search-inp-h">
<form class="searchbox" role="form" action="<?php echo base_url().'faculty/search_faculty'; ?>" method="post">
        <input type="search" placeholder="Search by name......" name="search" id="search" class="searchbox-input" onkeyup="buttonUp();" required>
        <input type="submit" class="searchbox-submit" >
        <span class="searchbox-icon"><img src="public/images/search-icon.png"></span>
    </form>
</div>
</div>
<div  class="tbl-header">
<table cellpadding="0" cellspacing="0" border="0">
  <thead>
					  <tr>
						<th>#</th>
						<th>Name</th>
						<th>Option</th>
						<th>Results</th>
						<th>Comments</th>
					  </tr>
  </thead>
</table>
</div>
<div  class="tbl-content">
<table cellpadding="0" cellspacing="0" border="0">
  <tbody>
<?php $counterx = 1 ?>
					<?php foreach($faculties as $faculty): ?>
					<tr>
					<td><?php echo $counterx ?></td>
					<td><a href="<?php echo base_url()?>faculty/profile/<?php echo $faculty->firstName . '.' . $faculty->id ?>"><?php echo ucfirst($faculty->firstName) . ' ' . ucfirst(substr($faculty->middleName,0,1)) .'. ' . ucfirst($faculty->lastName); ?></a></td>
					
					

					<td>
						<a href="<?php echo base_url() ?>faculty/edit?id=<?php echo $faculty->id ?>">Edit</a>
						-
				 		<a href="<?php echo base_url() ?>faculty/delete?id=<?php echo $faculty->id ?>">Delete</a>
				 	</td>
					<td>
						<!-- Button trigger modal -->
						<a href="" data-toggle="modal" data-target="#myModal<?php echo $faculty->id?>">
						  Student Results
						</a>

						<!-- Modal -->
						<div class="modal fade bs-example-modalb-lg" id="myModal<?php echo $faculty->id ?>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						 
						  <div class="modal-dialog modal-lg" style="width:1300px;">
						    <div class="modal-content" style="color:#000;">
						      
						    <div class="col-md-6">

						      

							     <div class="table-responsive" style="border:1px solid #cccccc;border-radius:5px; padding:15px; background:#fff; ">
									  <table class="table">
									  <h3>PROFESSIONAL RESPONSIBILITIES</h3>
									  
										<tr style="background:#428bca;">
											<th>Qeustion #</th>
											<th>Never</th>
											<th>Strongly Disagree</th>
											<th>Disagree</th>
											<th>Neutral</th>
											<th>Agree</th>
											<th>Strongly Agree</th>
											<th>Total</th>
										</tr>
										<?php $counter = 1; ?>
										<?php $profTotal = 0; ?>
										<?php foreach($faculty->profAnswers as $profAnswer): ?>
										<tr>
											<td style="color: #333;"><?php echo $counter; ?></td>
											
											<td style="color: #333;"><?php echo $profAnswer[0]; ?></td>
											<td style="color: #333;"><?php echo $profAnswer[1]; ?></td>
											<td style="color: #333;"><?php echo $profAnswer[2]; ?></td>
											<td style="color: #333;"><?php echo $profAnswer[3]; ?></td>
											<td style="color: #333;"> <?php echo $profAnswer[4]; ?></td>
											<td style="color: #333;"><?php echo $profAnswer[5]; ?></td>
											<?php $profTotal+= array_sum($profAnswer); ?>
											<td style="color: #333;"><?php echo array_sum($profAnswer); ?></td>
											<?php $counter++; ?>
											
										</tr>
										<?php endforeach; ?>
										<tr style="background:#428bca;">
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td>Total</td>
											<th><?php echo $profTotal; ?></th>
										</tr>
									  </table>
									  <?php if($profTotal >0): ?>
								<div>Total/Items/Students <br> Overall Rate: <?php echo $profTotal ?>/15/<?php echo $faculty->totalEvaluator; ?> = <?php echo $profTotal/15/$faculty->totalEvaluator; ?></div>

<?php endif; ?>
								</div> <!--ends table-responsive-->

						       
						      </div>	
						      
						    </div><!--ends col-md-6-->

						    <div class="col-md-6">

						      
						      <div class="modal-body" style="color:#000;">

						      	
								  </div>
						      	<div class="table-responsive" style="border:1px solid #cccccc;border-radius:5px; padding:15px;color:#000; background: #fff; ">
									  <table class="table">
									  <h3>INSTRUCTIONAL RESPONSIBILITIES</h3>

									  <tr style="background:#428bca;">

											<th>Qeustion #</th>
											<th>Never</th>
											<th>Strongly Disagree</th>
											<th>Disagree</th>
											<th>Neutral</th>
											<th>Agree</th>
											<th>Strongly Agree</th>
											<th>Total</th>
										</tr>
										<?php $counter = 1; ?>
										<?php $instructTotal = 0; ?>
										<?php foreach($faculty->instructAnswers as $instructAnswer): ?>
										<tr>
											<td style="color: #333;"><?php echo $counter; ?></td>
											<td style="color: #333;"><?php echo $instructAnswer[0]; ?></td>
											<td style="color: #333;"><?php echo $instructAnswer[1]; ?></td>
											<td style="color: #333;"><?php echo $instructAnswer[2]; ?></td>
											<td style="color: #333;"><?php echo $instructAnswer[3]; ?></td>
											<td style="color: #333;"><?php echo $instructAnswer[4]; ?></td>
											<td style="color: #333;"><?php echo $instructAnswer[5]; ?></td>
											<?php $instructTotal+= array_sum($instructAnswer); ?>
											<td style="color: #333;"><?php echo array_sum($instructAnswer); ?></td>
											<?php $counter++; ?>
											
										</tr>
										<?php endforeach; ?>
										<tr style="background:#428bca;">
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>

											<td>Total</td>
											<th><?php echo $instructTotal; ?></th>
										</tr>
										
								

						      </div>

									  </table>
									  <?php if($instructTotal > 0): ?>
							<div>Total/Items/Students <br> Overall Rate: <?php echo $instructTotal ?>/15/<?php echo $faculty->totalEvaluator; ?> =<?php echo $instructTotal/15/$faculty->totalEvaluator; ?></div>
								</div> <!--ends table-responsive-->
							<?php endif; ?>
						       
						     
						    </div><!--ends col-md-6-->
						    </div>
						  </div>
						</div>
									
					<?php $counterx++; ?>

						|
<a href="" data-toggle="modal" data-target="#myModalAcad<?php echo $faculty->id?>">
						  Academic Results
						</a>
						<div class="modal fade bs-example-modalb-lg" id="myModalAcad<?php echo $faculty->id ?>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						 
						  <div class="modal-dialog modal-lg" style="width:1300px;">
						    <div class="modal-content" style="color:#000;">
						      
						    <div class="col-md-6">


							     <div class="table-responsive" style="border:1px solid #cccccc;border-radius:5px; padding:15px; background:#fff; ">
									  <table class="table">
									  <h3>PROFESSIONAL RESPONSIBILITIES Acad</h3>
									  
										<tr style="background:#428bca;">
											<th>Qeustion #</th>
											<th>Never</th>
											<th>Strongly Disagree</th>
											<th>Disagree</th>
											<th>Neutral</th>
											<th>Agree</th>
											<th>Strongly Agree</th>
											<th>Total</th>
										</tr>
										<?php $counterAcad = 1; ?>
										<?php $profTotalAcad = 0; ?>
										<?php foreach($faculty->profAnswersAcad as $profAnswerAcad): ?>
										<tr>
											<td style="color: #333;"><?php echo $counterAcad; ?></td>
											
											<td style="color: #333;"><?php echo $profAnswerAcad[0]; ?></td>
											<td style="color: #333;"><?php echo $profAnswerAcad[1]; ?></td>
											<td style="color: #333;"><?php echo $profAnswerAcad[2]; ?></td>
											<td style="color: #333;"><?php echo $profAnswerAcad[3]; ?></td>
											<td style="color: #333;"> <?php echo $profAnswerAcad[4]; ?></td>
											<td style="color: #333;"><?php echo $profAnswerAcad[5]; ?></td>
											<?php $profTotalAcad+= array_sum($profAnswerAcad); ?>
											<td style="color: #333;"><?php echo array_sum($profAnswerAcad); ?></td>
											<?php $counterAcad++; ?>
											
										</tr>
										<?php endforeach; ?>
										<tr style="background:#428bca;">
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td>Total</td>
											<th><?php echo $profTotalAcad; ?></th>
										</tr>
									  </table>
									  <?php if($profTotalAcad >0): ?>
								<div>Total/Items/Academic Heads <br> Overall Rate: <?php echo $profTotalAcad ?>/15/<?php echo $faculty->totalEvaluatorAcad; ?> = <?php echo $profTotalAcad/15/$faculty->totalEvaluatorAcad; ?></div>

<?php endif; ?>
								</div> <!--ends table-responsive-->

						       
						      </div>	
						      
						    </div><!--ends col-md-6-->

						    <div class="col-md-6">

						      
						      <div class="modal-body" style="color:#000;">

						      	
								  </div>
						      	<div class="table-responsive" style="border:1px solid #cccccc;border-radius:5px; padding:15px;color:#000; background: #fff; ">
									  <table class="table">
									  <h3>INSTRUCTIONAL RESPONSIBILITIES Acad</h3>

									  <tr style="background:#428bca;">

											<th>Qeustion #</th>
											<th>Never</th>
											<th>Strongly Disagree</th>
											<th>Disagree</th>
											<th>Neutral</th>
											<th>Agree</th>
											<th>Strongly Agree</th>
											<th>Total</th>
										</tr>
										<?php $counterAcad = 1; ?>
										<?php $instructTotalAcad = 0; ?>
										<?php foreach($faculty->instructAnswersAcad as $instructAnswerAcad): ?>
										<tr>
											<td style="color: #333;"><?php echo $counterAcad; ?></td>
											<td style="color: #333;"><?php echo $instructAnswerAcad[0]; ?></td>
											<td style="color: #333;"><?php echo $instructAnswerAcad[1]; ?></td>
											<td style="color: #333;"><?php echo $instructAnswerAcad[2]; ?></td>
											<td style="color: #333;"><?php echo $instructAnswerAcad[3]; ?></td>
											<td style="color: #333;"><?php echo $instructAnswerAcad[4]; ?></td>
											<td style="color: #333;"><?php echo $instructAnswerAcad[5]; ?></td>
											<?php $instructTotalAcad+= array_sum($instructAnswerAcad); ?>
											<td style="color: #333;"><?php echo array_sum($instructAnswerAcad); ?></td>
											<?php $counterAcad++; ?>
											
										</tr>
										<?php endforeach; ?>
										<tr style="background:#428bca;">
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>

											<td>Total</td>
											<th><?php echo $instructTotalAcad; ?></th>
										</tr>
										
								

						      </div>

									  </table>
									  <?php if($instructTotalAcad > 0): ?>
							<div>Total/Items/Academic Heads <br> Overall Rate: <?php echo $instructTotalAcad ?>/15/<?php echo $faculty->totalEvaluatorAcad; ?> =<?php echo $instructTotalAcad/15/$faculty->totalEvaluatorAcad; ?></div>
								</div> <!--ends table-responsive-->
							<?php endif; ?>
						       
						     
						    </div><!--ends col-md-6-->
						    </div>
						  </div>
						</div>
							

					</td>	
					<td>
						<a href="" data-toggle="modal" data-target="#commentModal<?php echo $faculty->id ?>" >
						  	View Comments
						</a>

						<!-- Modal -->
						<div class="modal fade" id="commentModal<?php echo $faculty->id ?>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="color:#000;">
						  <div class="modal-dialog">
						    <div class="modal-content" style="color:#000;">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						        <h4 class="modal-title" id="myModalLabel">Comments and Suggestions</h4>
						      </div>
						      <?php foreach($faculty->comments as $comment): ?>
						      <?php if(!empty($comment[1])): ?>
						      <div class="modal-body commnt-p" style="border-bottom:1px solid #ccc;">
						       		<p><?php echo $comment[1]; ?></p>
						      </div>

						      <?php endif; ?>
						 	 <?php  endforeach;?>
						    
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						    
						      </div><!--ends modal-footer-->
						    </div><!--ends modal-content-->
						  </div><!--ends moadl-dialog-->
						</div><!--ends modal-->

					</td>
				</tr>



				<?php endforeach; ?>
				
					
  </tbody>
</table>
</div>
</section>


<script type="text/javascript">
	  $(document).ready(function(){
            var submitIcon = $('.searchbox-icon');
            var inputBox = $('.searchbox-input');
            var searchBox = $('.searchbox');
            var isOpen = false;
            submitIcon.click(function(){
                if(isOpen == false){
                    searchBox.addClass('searchbox-open');
                    inputBox.focus();
                    isOpen = true;
                } else {
                    searchBox.removeClass('searchbox-open');
                    inputBox.focusout();
                    isOpen = false;
                }
            });  
             submitIcon.mouseup(function(){
                    return false;
                });
            searchBox.mouseup(function(){
                    return false;
                });
            $(document).mouseup(function(){
                    if(isOpen == true){
                        $('.searchbox-icon').css('display','block');
                        submitIcon.click();
                    }
                });
        });
            function buttonUp(){
                var inputVal = $('.searchbox-input').val();
                inputVal = $.trim(inputVal).length;
                if( inputVal !== 0){
                    $('.searchbox-icon').css('display','none');
                } else {
                    $('.searchbox-input').val('');
                    $('.searchbox-icon').css('display','block');
                }
            }
</script>